<div class="streamline streamline-theme m-b">
    <div class="sl-item b-primary">
        <div class="sl-content">
            <div class="sl-date text-muted">Just now</div>
            <p>Finished task <a href="#" class="text-info"># Preparing Media</a>.
            </p>
        </div>
    </div>
    <div class="sl-item b-success">
        <div class="sl-content">
            <div class="sl-date text-muted">11:30</div>
            <p><a href="#">@Henawi</a> uploaded a file <a href="#"
                                                         class="text-info">documentation.pdf</a>
            </p>
        </div>
    </div>
    <div class="sl-item b-info hide">
        <div class="sl-content">
            <div class="sl-date text-muted">10:30</div>
            <p>Call to  <a href="#" class="text-info">Jacob</a> and
                discuss the detail.</p>
        </div>
    </div>
    <div class="sl-item b-warn hide">
        <div class="sl-content">
            <div class="sl-date text-muted">3 days ago</div>
            <p><a href="#" class="text-info">Jessi</a> commented your post.
            </p>
        </div>
    </div>
    <div class="sl-item b-warning">
        <div class="sl-content">
            <div class="sl-date text-muted">Thu, 10 Mar</div>
            <p><a href="#" class="text-info">Samir </a> report a issue #2122.
            </p>
        </div>
    </div>
    <div class="sl-item">
        <div class="sl-content">
            <div class="sl-date text-muted">Sat, 5 Mar</div>
            <p>Prepare for Publishing</p>
        </div>
    </div>
    <div class="sl-item">
        <div class="sl-content">
            <div class="sl-date text-muted">Sun, 11 Feb</div>
            <p><a href="#" class="text-info">Henawi</a> assign you a task <a
                    href="#" class="text-info">Mockup Design</a>.</p>
        </div>
    </div>
    <div class="sl-item">
        <div class="sl-content">
            <div class="sl-date text-muted">Thu, 17 Jan</div>
            <p>Task created</p>
        </div>
    </div>
</div>