<div class="list-item row-col">
    <div class="col-xs">
        <label class="md-check p-r-xs">
            <input type="checkbox">
            <i></i>
        </label>
    </div>
    <div class="list-body col-xs">
        <a href="#" class="item-title _500">Audio Recording
            page</a>
        <div class="text-muted text-xs">
            <i class="fa fa-clock-o"></i> 10:30 pm, 24 July
        </div>
        <div class="dropdown m-t-xs">
            <a href="#" data-toggle="dropdown">
                <span class="label warn rounded dropdown-toggle">In progress</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-accent"></i>Active
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-warn"></i>In progress
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-success"></i>Completed
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-muted"></i>Archived
                </a>
            </div>
        </div>
    </div>
</div>
<div class="list-item row-col">
    <div class="col-xs">
        <label class="md-check p-r-xs">
            <input type="checkbox">
            <i></i>
        </label>
    </div>
    <div class="list-body col-xs">
        <a href="#" class="item-title _500">Video Materials</a>
        <div class="text-muted text-xs">
            <i class="fa fa-clock-o"></i> 10:30 pm, 24 July
        </div>
        <div class="dropdown m-t-xs">
            <a href="#" data-toggle="dropdown">
                <span class="label accent rounded dropdown-toggle">Active</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-accent"></i>Active
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-warn"></i>In progress
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-success"></i>Completed
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-muted"></i>Archived
                </a>
            </div>
        </div>
    </div>
</div>
<div class="list-item row-col">
    <div class="col-xs">
        <label class="md-check p-r-xs">
            <input type="checkbox">
            <i></i>
        </label>
    </div>
    <div class="list-body col-xs">
        <a href="#" class="item-title _500">Scripting</a>
        <div class="text-muted text-xs">
            <i class="fa fa-clock-o"></i> 11:30 pm, 20 July
        </div>
        <div class="dropdown m-t-xs">
            <a href="#" data-toggle="dropdown">
                <span class="label success rounded dropdown-toggle">Completed</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-accent"></i>Active
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-warn"></i>In progress
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-success"></i>Completed
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-muted"></i>Archived
                </a>
            </div>
        </div>
    </div>
</div>
<div class="list-item row-col">
    <div class="col-xs">
        <label class="md-check p-r-xs">
            <input type="checkbox">
            <i></i>
        </label>
    </div>
    <div class="list-body col-xs">
        <a href="#" class="item-title _500">Final Video</a>
        <div class="text-muted text-xs">
            <i class="fa fa-clock-o"></i> 4:40 pm, 18 July
        </div>
        <div class="dropdown m-t-xs">
            <a href="#" data-toggle="dropdown">
                <span class="label success rounded dropdown-toggle">Completed</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-accent"></i>Active
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-warn"></i>In progress
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-success"></i>Completed
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-circle-o text-muted"></i>Archived
                </a>
            </div>
        </div>
    </div>
</div>