<div class="list-item ">
                                                <div class="list-left">
				      			        <span class="w-40 avatar circle lt">
				      			            <span class="fa fa-twitter text-md"></span>
				      			        </span>
                                                </div>
                                                <div class="list-body">
                                                    <div class="pull-right dropdown">
                                                        <a href="#" data-toggle="dropdown" class="text-muted"><i
                                                                class="fa fa-fw fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu pull-right text-color" role="menu">
                                                            <a class="dropdown-item">
                                                                <i class="fa fa-tag"></i>
                                                                Tag item
                                                            </a>
                                                            <a class="dropdown-item">
                                                                <i class="fa fa-pencil"></i>
                                                                Edit item
                                                            </a>
                                                            <a class="dropdown-item">
                                                                <i class="fa fa-trash"></i>
                                                                Delete item
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                                More action
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item-title">
                                                        <a href="#" class="_500">Learning Android  Course</a>
                                                    </div>
                                                    <small class="block text-ellipsis">
				      			          <span class="text-xs">
				      			              50
				      			          </span> <span class="text-muted">completed</span>
                                                    </small>

                                                    <div class="progress-xxs m-y-sm lter progress w-sm">
                                                        <div class="progress-bar success" data-toggle="tooltip"
                                                             title="Finished: 44%" style="width: 19%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>