{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="page-content">
    <div class="content">
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#" class="active">Create</a>
            </li>
        </ul>


        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <form id="commentForm" style="width: 100%;"
                      role="form" enctype="multipart/form-data"
                      method="POST" action=""
                      class="simple_form form-horizontal">

                    {% csrf_token %}

                    <div id="rootwizard" class="col-md-12">
                        <!-- Wizard Steps -->
                        <div class="form-wizard-steps" style="margin-bottom: 15px;">
                            <ul class="wizard-steps form-wizard" style="width: 100%;">
                                <li  data-target="#step1" style="min-width: 50%;">
                                    <a href="#tab1" data-toggle="tab" aria-expanded="true">
                                        <span class="step">1</span>
                                        <span class="title">Book information</span>
                                    </a>
                                </li>
                                <li  class="active" data-target="#step2" style="min-width: 50%;">
                                    <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                        <span class="step">2</span>
                                        <span class="title">Book Summary</span>
                                    </a>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-content transparent">
                            <div class="tab-pane active" id="tab1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grid simple">
                                            <div class="grid-title no-border">
                                                <h4>Create
                                                    <span class="semi-bold">Book Summary</span>
                                                </h4>
                                                <div class="tools hide">
                                                    <a href="javascript:;" class="collapse"></a>
                                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                    <a href="javascript:;" class="reload"></a>
                                                    <a href="javascript:;" class="remove"></a>
                                                </div>
                                            </div>

                                            <div class="grid-body no-border">
                                                <br>
                                                <div class="row">

                                                    {% bootstrap_form_errors form layout='inline' %}

                    {% bootstrap_field form.video label='Video' layout='horizontal' %}
                    {% bootstrap_field form.status label='Status' layout='horizontal' %}
                    {% bootstrap_field form.level label='Level' layout='horizontal' %}
                                                    <div style="text-align:center">

                                                    {% buttons %}
                                                    <button type="submit" class="btn btn-primary">

                                                        {% bootstrap_icon "ok" %} Save
                                                    </button>
                                                    {% endbuttons %}
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}