{% extends 'zedny_admin/base.html' %}
{% load static %}
{% block scripts %}
    <script>
        $('.delete-link').on('click', function () {
            $('#deleteForm').attr('action', $(this).data('link'));
            $('.delete-item-name').text($(this).data('name'));
        })
    </script>
{% endblock %}
{% block content %}

    
    <div class="page-content">
        <div class="content">
            <!-- Breadcrumb -->
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li><a href="#" class="active">Categories and Tags</a> </li>
            </ul>
            <div class="page-title"> <a href="#"><i class="icon-custom-left"></i></a>
                <h3>Categories and Tags - <span class="semi-bold">Lists</span></h3>
            </div>
            <!-- end Breadcrumb -->

            <div class="row">
                <!-- Categories List -->
                <div class="col-md-6">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <div class="col-md-4">
                                <h4 class="semi-bold">Categories</h4>
                            </div>
                            <div class="col-md-5">
                                <input name="filtersSearch" type="text" class="form-control" id="filtersSearch"  placeholder="Search">
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-link" href="#">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div class="grid-body no-border">
                            <div class="clearfix"></div>
                                
                        </div>
                    </div>
                </div>
                <!-- end Categories List -->
                <!-- Tags List -->
                <div class="col-md-6">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <h4 class="semi-bold">Tags</h4>
                                </div>
                                <div class="col-md-6">
                                    <input name="filtersSearch" type="text" class="form-control" id="filtersSearch"  placeholder="Search">
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-link" href="#">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="grid-body no-border">
                            <div class="clearfix"></div>
                                <table class="table no-more-tables">
                                    <thead>
                                    <tr>
                                        <th style="width:1%">
                                            <div class="checkbox check-default">
                                                <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                                <label for="checkbox10"></label>
                                            </div>
                                        </th>
                                        <th style="width:9%">Name</th>
                                        <th style="width:10%">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for tag in tags %}
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox check-default">
                                                        <input id="checkbox11" type="checkbox" value="1">
                                                        <label for="checkbox11"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle">Early Bird</td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end Tags List -->
            </div>
        </div>
    </div>


    
{% endblock %}

