{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block styles %}
    <script src="{% static 'zedny_admin/assets/js/vue.js' %}" type="text/javascript"></script>
{% endblock %}

{% block scripts %}
    <script>
        $("#material_file").bind('change',function(){
            $("#material_size").val(this.files[0].size);
        });
    </script>
{% endblock %}

{% block content %}
<div class="modal fade" id="Content-Delete-Modal" tabindex="-1" role="dialog"            
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-question fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Delete - {{content.name}}</h4>
            </div>
            <form id="deleteForm" style="width: 100%;"
                    role="form" enctype="multipart/form-data"
                    method="POST" class="simple_form form-horizontal" action="{% url 'admin-content-delete' content.pk %}">
                    {% csrf_token %}
                <div class="modal-body">
                    <h3>You are about to delete "{{content.name}}" - Are you sure?</h3>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Add-Material-Modal" tabindex="-1" role="dialog"            
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="myModalLabel" class="semi-bold">Add Material</h4>
            </div>
            <form id="deleteForm" style="width: 100%;"
                    role="form" enctype="multipart/form-data"
                    method="POST" class="simple_form form-horizontal" action="{% url 'admin-materials-create' content.course.pk %}">
                    {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="grid simple">
                                <div class="grid-title no-border">
                                </div>
                                <div class="grid-body no-border">
                                    <div class="form-group string required corporation_title">
                                        <label class="string required col-md-2 control-label" for="material_name">Name <abbr>*</abbr></label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="material_name" name="name" required>
                                        </div>
                                    </div>
                                    <div class="form-group string required corporation_title">
                                        <label class="string required col-md-2 control-label" for="material_file">File <abbr>*</abbr></label>
                                        <div class="col-md-10">
                                            <input type="file" class="form-control" name="file" id="material_file" required>
                                        </div>
                                    </div>
                                    <input type="hidden" name="size" id="material_size">
                                    <input type="hidden" name="of" id="material_of" value="Content">
                                    <input type="hidden" name="content" id="material_content" value="{{content}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" name="SaveFinish" value="Finish">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="content">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li><a href="#" class="active">Course Content</a> - <a href="{{ content.course.get_absolute_url }}"><span class="semi-bold">{{content.course.name}}</span></a></li>
        </ul>
        <div class="page-title"> <a href="#"><i class="icon-custom-left"></i></a>
            <h3>Content Details - <span class="semi-bold">{{content.name}}</span></h3>
        </div>
        <!-- end Breadcrumb -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-8 m-b-10">
                <div class="widget-item ">
                    <div class="tiles green  overflow-hidden full-height" style="max-height:214px">
                        <div class="overlayer bottom-right fullwidth">
                            <div class="overlayer-wrapper">
                                <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                                    <div class="pull-right"> 
                                        <a class="hashtags transparent" href="{% url 'admin-contents-edit' content.course.pk  content.pk %}">
                                            <i class="glyphicon glyphicon-edit"></i> Edit Content
                                        </a>
                                        <a href="javascript:;" class="delete-link hashtags transparent"  data-toggle="modal" data-target="#Content-Delete-Modal" title="Delete Content">
                                            <i class="glyphicon glyphicon-trash"></i> Delete Content
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {% if content.type == 'Video' %}
                            <img src="{{ video.cover.url }}" alt="" class="lazy hover-effect-img image-responsive-width"> 
                        {% elif content.type == 'Quiz' or content.type == 'Exam' %}
                            <img src="{{ content.course.cover.url }}" alt="" class="lazy hover-effect-img image-responsive-width"> 
                        {% endif %}
                       
                        {% if content.type == 'Video' %}
                        {% elif content.type == 'Quiz' or content.type == 'Exam' %}
                        {% endif %}
                        
                    </div>
                    <div class="tiles white ">
                        <div class="tiles-body">
                            <div class="row">
                                <div class="user-profile-pic text-left"> 
                                    {% if content.type == 'Video' %}
                                        <img width="69" height="69" data-src-retina="{{video.instructor.img.url}}" data-src="{{video.instructor.img.url}}" src="{{video.instructor_set.img.url}}" alt="">
                                    {% elif content.type == 'Quiz' or content.type == 'Exam' %}
                                        <img width="69" height="69" data-src-retina="{{content.course.instructor.img.url}}" data-src="{{content.course.instructor.img.url}}" src="{{video.instructor_set.img.url}}" alt="">
                                    {% endif %}
                                    
                                    <div class="pull-right m-r-20 m-t-35">
                                        <strong class="user-name text-black bold">Created At: </strong> <span class="bold small-text">{{content.created_at}}</span>
                                    </div>
                                    <div class="pull-right m-r-20 m-t-35">
                                        {% if content.type == 'Video' %}
                                            <strong class="user-name text-black bold">Duration: </strong> <span class="bold small-text">{% if video.duration >= 60 %}{{video.duration}}h{% else %}{{video.duration}}m{% endif %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 no-padding">
                                    <div class="user-comment-wrapper">
                                        <div class="comment">
                                            {% if content.type == 'Video' %}
                                                <div class="user-name text-black bold">{{video.instructor.fname}}<span class="semi-bold"> {{video.instructor.lname}}</span> </div>
                                            {% elif content.type == 'Quiz' or content.type == 'Exam' %}
                                                <div class="user-name text-black bold">{{content.course.instructor.fname}}<span class="semi-bold"> {{content.course.instructor.lname}}</span> </div>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                        <div class="comment">
                                            <div class="user-name text-black bold">Level: <span class="semi-bold">{{content.level}}</span> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment">
                                            {% if content.type == 'Video' %}
                                                <div class="user-name text-black bold">Age Access: <span class="semi-bold">{{video.age_access}}</span> </div>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-8 no-padding">
                                    <div class="clearfix"></div>
                                    <div class="m-r-20 m-t-20 m-b-10  m-l-10">
                                        {% if content.type == 'Video' %}
                                            <video style="width: 100%;height: auto;" controls>
                                                <source src="{{video.video.url}}" type="{{video.video_type}}">
                                            </video>
                                        {% endif %}
                                        <!-- tags -->
                                        <p class="p-b-10">{{content.descr|safe}}</p>
                                        <a href="#" class="hashtags m-b-5"> #new york city </a> <a href="#" class="hashtags m-b-5"> #amazing </a> <a href="#" class="hashtags m-b-5"> #citymax </a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 m-b-10">
                <div class="widget-item ">
                    <div class="tiles green  overflow-hidden full-height" style="max-height:214px">
                        <div class="overlayer bottom-right fullwidth">
                            <div class="overlayer-wrapper">
                                <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                                    <div class="pull-right"> <a href="#" class="hashtags transparent"> #Art Design </a> </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <img src="{{course.instructor.img.url}}" alt="" class="lazy hover-effect-img image-responsive-width"> 
                    </div>
                    <div class="tiles white ">
                        <div class="tiles-body">
                            <div class="row">
                               
                                <div class="col-md-5 no-padding">
                                    <div class="user-comment-wrapper">
                                    <div class="comment">
                                        <div class="user-name text-black bold"> {{course.instructor.fname }} <span class="semi-bold">{{course.instructor.lname }}</span> </div>
                                        <!-- <div class="preview-wrapper">@ revox </div> -->
                                    </div>
                                    <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-7 no-padding">
                                    <div class="clearfix"></div>
                                    <div class="m-r-20 m-t-20 m-b-10  m-l-10">
                                        <p class="p-b-10">The attention to detail and the end product is stellar! I enjoyed the process </p>
                                        <a href="#" class="hashtags m-b-5"> #new york city </a> <a href="#" class="hashtags m-b-5"> #amazing </a> <a href="#" class="hashtags m-b-5"> #citymax </a> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-item m-t-20">
                    <div class="tiles white ">
                        <div class="tiles-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="user-name text-black bold">Materials
                                        <a class="btn btn-link pull-right" href="" data-toggle="modal" data-target="#Add-Material-Modal">
                                            <i class="glyphicon glyphicon-plus"></i> Add New
                                        </a>
                                    </h3>
                                    <div class="list-group">
                                        {% if materials %}
                                            {% for material in materials %}
                                            <li class="list-group-item">
                                                    <span class="badge">
                                                        <div class="btn-group" role="group">
                                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="glyphicon glyphicon-cog"></i>
                                                            </a>
                                                            <ul class="dropdown-menu row">
                                                                <li>
                                                                    <div class="col-md-2" style="padding:7px 15px!important">
                                                                        <i class="glyphicon glyphicon-download-alt"></i>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <a href="{% url 'admin-materials-download' material.pk %}" class="btn btn-link" target="_blank" class="">
                                                                            Download Material
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="col-md-2" style="padding:7px 15px!important">
                                                                        <i class="glyphicon glyphicon-trash"></i>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <a class="btn btn-link delete-link" data-toggle="modal" data-target="#Delete-Modal"
                                                                        data-name="{{content.name}}" data-link="{% url 'admin-content-delete' content.id %}">Delete</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </span>
                                                    
                                                    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-asterisk"></span>{{material.name}}</h4>
                                                    
                                                    <p class="list-group-item-text comment">
                                                        <span class="user-name text-black bold">type: <span class="semi-bold">{{material.type}}</span> </span>
                                                    </p>
                                                </li>
                                            {% endfor %} 
                                        {% else %}
                                            <h4>There Is No Content Yet!</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<a href="" title="Delete Material" class="delete-link" data-toggle="modal" data-target="#Delete-Modal"
                                                        data-name="{{material.name}}" data-link="{% url 'admin-materials-delete' material.id %}"><i class="glyphicon glyphicon-trash"></i></a>