{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}


    <!-- content -->
    <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
        <div class="app-header white bg b-b">
            <div class="navbar" data-pjax>
                <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                    <i class="ion-navicon"></i>
                </a>
                <div class="navbar-item pull-left h5" id="pageTitle">Create Course</div>
                <!-- nabar right -->
                {% include 'zedny_admin/tiles/app_header_right.html' %}
                <!-- / navbar right -->
            </div>
        </div>

        {% include 'zedny_admin/tiles/app_footer.html' %}

        <div class="app-body">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="box">
                    <div class="box-header">
                        <h3>Course Create</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <!-- Stream Line -->
                            <div class="col-md-2">
                                <div>
                                    <div class="streamline m-b">
                                        <div class="sl-item b-primary">
                                            <div class="sl-content">
                                                <div class="sl-date text-muted">Basic Info</div>
                                            </div>
                                        </div>
                                        <div class="sl-item b-warning">
                                            <div class="sl-content">
                                                <div class="sl-date text-muted"><a href="">Content</a></div>
                                                {#                                                <p><a href="#" class="text-info">Edit</a> </p>#}
                                            </div>
                                        </div>
                                        <div class="sl-item b-warning">
                                            <div class="sl-content">
                                                <div class="sl-date text-muted"><a href="">Upload Materials</a></div>
                                                {#                                                <p><a href="#" class="text-info">Edit</a> </p>#}
                                            </div>
                                        </div>
                                        <div class="sl-item b-info">
                                            <div class="sl-content">
                                                <div class="sl-date text-muted">Upload Videos</div>
                                                {#                                        <p>Prepare for presentation</p>#}
                                            </div>
                                        </div>
                                        <div class="sl-item">
                                            <div class="sl-content">
                                                <div class="sl-date text-muted">Publishing</div>
                                                {#                                        <p>Follow up to close deal</p>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Form -->
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <form role="form">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail3"
                                                   placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword3"
                                                   placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 form-control-label">File</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="single">Select2 single select</label>
                                        <select id="single" class="form-control select2" data-ui-jp="select2"
                                                data-ui-options="{theme: 'bootstrap'}">

                                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                                <option value="AK">Alaska</option>
                                                <option value="HI" disabled="disabled">Hawaii</option>
                                            </optgroup>
                                            <optgroup label="Pacific Time Zone">
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                            </optgroup>
                                            <optgroup label="Mountain Time Zone">
                                                <option value="AZ">Arizona</option>
                                                <option value="CO">Colorado</option>
                                                <option value="ID">Idaho</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="UT">Utah</option>
                                                <option value="WY">Wyoming</option>
                                            </optgroup>
                                            <optgroup label="Central Time Zone">
                                                <option value="AL">Alabama</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TX">Texas</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="WI">Wisconsin</option>
                                            </optgroup>
                                            <optgroup label="Eastern Time Zone">
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="IN">Indiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="OH">Ohio</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WV">West Virginia</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 form-control-label">Textarea</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row m-t-md">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn white">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
    </div>
    <!-- / -->


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('#single').select2();
    });
    </script>
{% endblock %}