{% extends 'zedny_admin/base.html' %}
{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block styles %}
<link href="{% static 'zedny_admin/assets/plugins/jquery-nestable/jquery.nestable.css' %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static 'zedny_admin/assets/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'zedny_admin/assets/js/vue.js' %}" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<link href="{% static 'zedny_admin/assets/plugins/bootstrap-tag/bootstrap-tagsinput.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    
<div class="page-content">
    <div class="content">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li><a href="#" class="active">Courses</a> </li>
        </ul>
        <div class="page-title"> <a href="#"><i class="icon-custom-left"></i></a>
            <h3>Courses - <span class="semi-bold">Create</span></h3>
        </div>
        <!-- end Breadcrumb -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <div id="vue-app">
                    
                    <form-wizard :data="[{id:'course',title:'Basic Information',target:'{% if course_id is not None %}{% url 'admin-course-edit' course_id %}{% else %}{% url 'admin-courses-create' %}{% endif%}',active:{% if step == 'course' %}true{% else %}false{% endif %}}{% if course_id is not None %},{id:'content',title:'Add Content',target:'{% url 'admin-contents-create' course_id %}',active:{% if step == 'content' %}true{% else %}false{% endif %}},{id:'material',title:'Course Materials',target:'{% url 'admin-materials-create' course_id %}',active:{% if step == 'material' %}true{% else %}false{% endif %}}{% else %},{id:'content',title:'Add Content',target:'javascript:;',active:false},{id:'material',title:'Course Materials',target:'javascript:;',active:false}{% endif%}]">
                        <template slot="course">
                            {% with "zedny_admin/courses/forms/"|add:step|add:'.html' as formTemplate %}
                            {% include formTemplate %}
                            {% endwith%}
                        </template>
                    </form-wizard>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'zedny_admin/courses/vueComponents.html' %}
{% endblock %}

{% block scripts %}
    
    <script>
        var course_id = '{% if course_id %}{{ course_id }}{% elif request.GET.id %}{{ request.GET.id }}{% endif %}';
        var csrfToken = '{{ csrf_token }}'
        var hasOffer = '{{ course.has_offer.value }}';
        if (hasOffer == 'True') {
            hasOffer = true
        } else {
            hasOffer = false
        }
        var contentType = '{{content.type.value}}'
        
    </script>
    <script src="{% static 'zedny_admin/assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'zedny_admin/assets/js/jquery-ui.js' %}" type="text/javascript"></script>
    

    <script src="{% static 'zedny_admin/assets/js/sortable.min.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'zedny_admin/assets/js/form_validations.js' %}" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
    <script src="{% static 'zedny_admin/assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'zedny_admin/assets/js/VueComponents/datepicker.js' %}" type="text/javascript"></script>
    <script src="{% static '/zedny_admin/assets/js/typeahead.js' %}"></script>
    <script src="{% static 'zedny_admin/assets/js/courses/course.js' %}" type="text/javascript"></script>
{% endblock %}

