{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block styles %}
    <script src="{% static 'zedny_admin/assets/js/vue.js' %}" type="text/javascript"></script>
{% endblock %}
{% block scripts %}
    <script>
        $('.delete-link').on('click', function () {
            $('#deleteForm').attr('action', $(this).data('link'));
            $('.delete-item-name').text($(this).data('name'));
        })
    </script>
{% endblock %}
{% block content %}
<div class="modal fade" id="Delete-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-question fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Delete - <span class="semi-bold delete-item-name"></span></h4>
            </div>
            <form id="deleteForm" style="width: 100%;"
                    role="form" enctype="multipart/form-data"
                    method="POST" class="simple_form form-horizontal">
                    {% csrf_token %}
                <div class="modal-body">
                    <h3>You are about to delete "<span class="semi-bold delete-item-name"></span>" - Are you sure?</h3>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="content">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li><a href="#" class="active">Courses</a> </li>
        </ul>
        <div class="page-title"> <a href="#"><i class="icon-custom-left"></i></a>
            <h3>Course Details - <span class="semi-bold">{{course.name}}</span></h3>
        </div>
        <!-- end Breadcrumb -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-8 m-b-10">
                <div class="widget-item ">
                    <div class="tiles green  overflow-hidden full-height" style="max-height:214px">
                        <div class="overlayer bottom-right fullwidth">
                            <div class="overlayer-wrapper">
                                <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                                    <div class="pull-right"> 
                                        <a class="hashtags transparent" href="{% url 'admin-course-edit' course.id %}">
                                            <i class="glyphicon glyphicon-edit"></i> Edit Course
                                        </a>
                                        <a href="#" class="delete-link hashtags transparent"
                                           data-toggle="modal" data-target="#Delete-Modal"
                                           data-name="{{course.name}}" data-link="{% url 'admin-course-delete' course.id %}">
                                            <i class="glyphicon glyphicon-trash"></i> Delete Course
                                        </a>    
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <img src="{{ course.cover.url }}" alt="" class="lazy hover-effect-img image-responsive-width"> 
                    </div>
                    <div class="tiles white ">
                        <div class="tiles-body">
                            <div class="row">
                                <div class="user-profile-pic text-left"> <img width="69" height="69" data-src-retina="{{course.instructor.img.url}}" data-src="{{course.instructor.img.url}}" src="{{course.instructor_set.img.url}}" alt="">
                                    <div class="pull-right m-r-20 m-t-35">
                                        <strong class="user-name text-black bold">Created At: </strong> <span class="bold small-text">{{course.created_at}}</span>
                                    </div>
                                    <div class="pull-right m-r-20 m-t-35">
                                        <strong class="user-name text-black bold">Duration: </strong> <span class="bold small-text">{% if course.duration >= 60 %}{{course.duration}}h{% else %}{{course.duration}}m{% endif %}</span>
                                    </div>
                                </div>
                                <div class="col-md-5 no-padding">
                                    <div class="user-comment-wrapper">
                                        <div class="comment">
                                            <div class="user-name text-black bold">{{course.instructor.fname}}<span class="semi-bold"> {{course.instructor.lname}}</span> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                        <div class="comment">
                                            <div class="user-name text-black bold">Status: <span class="semi-bold">{{course.status}}</span> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment">
                                            <div class="user-name text-black bold">Level: <span class="semi-bold">{{course.level}}</span> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment">
                                            <div class="user-name text-black bold">Age Access: <span class="semi-bold">{{course.age_access}}</span> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if course.has_offer %}
                                            <div class="comment" style="border:rgb(248, 255, 248) double 1px;border-radius: 25px;padding: 15px; margin-top: 15px;margin-right: 15px; background-color: rgb(148, 182, 155);">
                                                <h4 class="semi-bold" style="color: rgb(248, 255, 248)">Offer</h4>
                                                <div class="user-name bold" style="color: rgb(248, 255, 248)">Start At: <span class="semi-bold">{{course.offer_start_date}}</span> </div>
                                                <div class="user-name bold" style="color: rgb(248, 255, 248)">Expire At: <span class="semi-bold">{{course.offer_end_date}}</span> </div>
                                                <div class="user-name bold" style="color: rgb(248, 255, 248)">Descount: <span class="semi-bold">{{course.offer_discount_perc}} %</span> </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="col-md-7 no-padding">
                                    <div class="clearfix"></div>
                                    <div class="m-r-20 m-t-20 m-b-10  m-l-10">
                                        <p class="p-b-10">{{course.descr|safe}}</p>
                                        <a href="#" class="hashtags m-b-5"> #new york city </a> <a href="#" class="hashtags m-b-5"> #amazing </a> <a href="#" class="hashtags m-b-5"> #citymax </a> 
                                    </div>
                                </div>
                                <div class="post p-b-15 p-t-15 p-l-15 b-b b-grey">
                                    <ul class="action-bar no-margin ">
                                        <li><a href="#" class="muted"><i class="fa fa-comment m-r-5"></i> 24</a> </li>
                                        <li>
                                        <a href="#" class="text-error bold"> <i class="fa fa-heart-o  m-r-5"></i> 5</a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <p class="p-t-10 p-b-10 p-l-15 p-r-15"><span class="bold">Jane Smith, John Smith, David Jester, pepper</span> post and 214 others like this.</p>
                                <div class="clearfix"></div>
                                <div class="p-b-10 p-l-10 p-r-10 b-b b-grey">
                                    <div class="profile-img-wrapper pull-left"> <img width="35" height="35" alt="" src="assets/img/profiles/e.jpg" data-src="assets/img/profiles/e.jpg" data-src-retina="assets/img/profiles/e2x.jpg"> </div>
                                    <div class="inline pull-right" style="width:86%">
                                    <div class="input-group transparent ">
                                        <input type="text" class="form-control" placeholder="Write a comment">
                                        <span class="input-group-addon"> <i class="fa fa-camera"></i> </span> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Course <span class="semi-bold">Contents</span></h3>
                                    <div class="list-group">
                                        {% if contents %}
                                            {% for content in contents %}
                                                <li class="list-group-item">
                                                    <span class="badge">
                                                        <div class="btn-group" role="group">
                                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="glyphicon glyphicon-cog"></i>
                                                            </a>
                                                            <ul class="dropdown-menu row">
                                                                <li>
                                                                    <div class="col-md-2" style="padding:7px 15px!important">
                                                                        <i class="glyphicon glyphicon-edit"></i>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <a class="btn btn-link" href="">Edit</a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="col-md-2" style="padding:7px 15px!important">
                                                                        <i class="glyphicon glyphicon-trash"></i>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <a class="btn btn-link delete-link" data-toggle="modal" data-target="#Delete-Modal"
                                                                        data-name="{{content.name}}" data-link="{% url 'admin-content-delete' content.id %}">Delete</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </span>
                                                    
                                                    <a href="{{ content.get_absolute_url }}">
                                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-asterisk"></span> {{content.order}} {{content.name}}</h4>
                                                    </a>
                                                    
                                                    <p class="list-group-item-text comment">
                                                        <span class="user-name text-black bold">type: <span class="semi-bold">{{content.type}}</span> </span>
                                                        &nbsp;&nbsp;
                                                        {% if content.type == 'Video' %}
                                                            <span class="user-name text-black bold">Duration: <span class="semi-bold">{% if content.duration >= 60 %}{{content.duration}}h{% else %}{{content.duration}}m{% endif %}</span> </span>
                                                        {% endif %}
                                                    </p>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <h4>There Is No Content Yet!</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 m-b-10">
                <div class="widget-item ">
                    <div class="tiles green  overflow-hidden full-height" style="max-height:214px">
                        <div class="overlayer bottom-right fullwidth">
                            <div class="overlayer-wrapper">
                                <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                                    <div class="pull-right"> <a href="#" class="hashtags transparent"> #Art Design </a> </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <img src="{{course.instructor.img.url}}" alt="" class="lazy hover-effect-img image-responsive-width"> 
                    </div>
                    <div class="tiles white ">
                        <div class="tiles-body">
                            <div class="row">
                               
                                <div class="col-md-5 no-padding">
                                    <div class="user-comment-wrapper">
                                    <div class="comment">
                                        <div class="user-name text-black bold"> {{course.instructor.fname }} <span class="semi-bold">{{course.instructor.lname }}</span> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-7 no-padding">
                                    <div class="clearfix"></div>
                                    <div class="m-r-20 m-t-20 m-b-10  m-l-10">
                                        <p class="p-b-10">The attention to detail and the end product is stellar! I enjoyed the process </p>
                                        <a href="#" class="hashtags m-b-5"> #new york city </a> <a href="#" class="hashtags m-b-5"> #amazing </a> <a href="#" class="hashtags m-b-5"> #citymax </a> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-item m-t-20">
                    <div class="tiles white ">
                        <div class="tiles-body">
                            <div class="row">
                                <div class="col-md-12">
                                   
                                    <h3 class="user-name text-black bold">Materials
                                            <a class="btn btn-link pull-right" href="{% url 'admin-materials-create' course.pk %}">
                                                    <i class="glyphicon glyphicon-plus"></i> Add New
                                                </a>
                                    </h3>
                                    {% if materials %}
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for material in materials %}
                                                    <tr>
                                                        <td>
                                                            <span class="bold">{{ material.name }}</span> </div>
                                                        </td>
                                                        <td>
                                                            <a href="" title="Delete Material" class="delete-link" data-toggle="modal" data-target="#Delete-Modal"
                                                            data-name="{{material.name}}" data-link="{% url 'admin-materials-delete' material.id %}"><i class="glyphicon glyphicon-trash"></i></a>
                                                            <a href="{% url 'admin-materials-download' material.pk %}"  target="_blank" title="Download Material" class=""><i class="glyphicon glyphicon-download-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %} 
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <h4>There Is No Content Yet!</h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
