{% extends 'zedny_admin/base.html' %}
{% load static %}
{% block scripts %}
    <script>
        $('.delete-link').on('click', function () {
            $('#deleteForm').attr('action', $(this).data('link'));
            $('.delete-item-name').text($(this).data('name'));
        })

    </script>
{% endblock %}
{% block content %}

    <div class="modal fade" id="Course-Delete-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-question fa-7x"></i>
                    <h4 id="myModalLabel" class="semi-bold">Delete - <span class="semi-bold delete-item-name"></span></h4>
                </div>
                <form id="deleteForm" style="width: 100%;"
                      role="form" enctype="multipart/form-data"
                      method="POST" class="simple_form form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                    <div class="modal-body">
                        <h3>You are about to delete "<span class="semi-bold delete-item-name"></span>" - Are you sure?</h3>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button  type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content">
            <!-- Breadcrumb -->
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li><a href="#" class="active">Courses</a> </li>
            </ul>
            <div class="page-title"> <a href="#"><i class="icon-custom-left"></i></a>
                <h3>Courses - <span class="semi-bold">List</span></h3>
            </div>
            <!-- end Breadcrumb -->

            <div class="row">
                <!-- Courses List -->
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <div class="col-md-3">
                                <input name="filtersSearch" type="text" class="form-control" id="filtersSearch"  placeholder="Search">
                            </div>
                            <div class="col-md-7">

                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-link" href="{% url 'admin-courses-create' %}">
                                    <i class="glyphicon glyphicon-plus"></i> Add New
                                </a>
                            </div>
                        </div>
                        
                        <div class="grid-body no-border">
                            <div class="clearfix"></div>
                            <div class="row p-t-20">
                                {% if courses is not None%}
                                    {% for course in courses %}
                                        <div class="col-md-3 m-b-10">
                                            <div class="widget-item ">
                                                <div class="tiles green  overflow-hidden full-height" style="max-height:214px">
                                                    <div class="overlayer bottom-right fullwidth">
                                                        <div class="overlayer-wrapper">
                                                            <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                                                                <div class="pull-right"> 
                                                                    <a href="{% url 'admin-course-edit' course.id %}" class="hashtags transparent" title="Edit Course">
                                                                        <i class="glyphicon glyphicon-edit"></i>
                                                                    </a>
                                                                    <a href="javascript:;" class="delete-link hashtags transparent"  data-toggle="modal" data-target="#Course-Delete-Modal"
                                                                    data-link="{% url 'admin-course-delete' course.pk %}"
                                                                    data-name="{{course.name}}"
                                                                    title="Delete Course">
                                                                        <i class="glyphicon glyphicon-trash"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="clearfix"></div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img src="{{ course.cover.url }}" alt="" class="lazy hover-effect-img image-responsive-width"> 
                                                </div>
                                                <div class="tiles white">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="user-name bold"> {{course.instructor.fname }} <span class="semi-bold">{{course.instructor.lname }}</span> </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span class="bold small-text">{% if course.duration >= 60 %}{{course.duration}}h{% else %}{{course.duration}}m{% endif %}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <div class="heading 3"><a class="semi-bold" href="{{ course.get_absolute_url }}">{{ course.name }}</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post p-b-15 p-t-15 p-l-15 b-b b-grey">
                                                    <ul class="action-bar no-margin ">
                                                        <li><a href="#" class="muted"><i class="fa fa-comment m-r-5"></i> 24</a> </li>
                                                        <li>
                                                        <a href="#" class="text-error bold"> <i class="fa fa-heart-o  m-r-5"></i> 5</a>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h1> There is No Courses Yet!</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Courses List -->
                
            </div>
        </div>
    </div>


    
{% endblock %}

