{% extends 'zedny_admin/minibase.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% with "zedny_admin/courses/forms/"|add:page|add:'.html' as formTemplate %}
        {% include formTemplate %}
        {% endwith %}
    </div>
</div>
    
{% endblock %}