{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}

    <!-- content -->
    <div id="content" class="app-content box-shadow-z2 pjax-container" role="main">
        <div class="app-header hidden-lg-up black lt b-b">
            <div class="navbar" data-pjax>
                <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                    <i class="ion-navicon"></i>
                </a>
                <div class="navbar-item pull-left h5" id="pageTitle">Courses</div>
                <!-- nabar right -->
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item dropdown pos-stc-xs">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="ion-android-search w-24"></i>
                        </a>
                        <div class="dropdown-menu text-color w-md animated fadeInUp pull-right">
                            <!-- search form -->
                            <form class="navbar-form form-inline navbar-item m-a-0 p-x v-m" role="search">
                                <div class="form-group l-h m-a-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Courses...">
                                        <span class="input-group-btn">
                              <button type="submit" class="btn white b-a no-shadow"><i
                                      class="fa fa-search"></i></button>
                            </span>
                                    </div>
                                </div>
                            </form>
                            <!-- / search form -->
                        </div>
                    </li>
                    <li class="nav-item dropdown pos-stc-xs">
                        <a class="nav-link clear" data-toggle="dropdown">
                            <i class="ion-android-notifications-none w-24"></i>
                            <span class="label up p-a-0 danger"></span>
                        </a>
                        <!-- dropdown -->
                        <div class="dropdown-menu pull-right w-xl animated fadeIn no-bg no-border no-shadow">
                            <div class="scrollable" style="max-height: 220px">
                                <ul class="list-group list-group-gap m-a-0">
                                    <li class="list-group-item dark-white box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="images/a0.jpg" alt="..." class="w-40 img-circle">
                              </span>
                                        <span class="clear block">
                                Use awesome <a href="#" class="text-primary">animate.css</a><br>
                                <small class="text-muted">10 minutes ago</small>
                              </span>
                                    </li>
                                    <li class="list-group-item dark-white box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="images/a1.jpg" alt="..." class="w-40 img-circle">
                              </span>
                                        <span class="clear block">
                                <a href="#" class="text-primary">Joe</a> Added you as friend<br>
                                <small class="text-muted">2 hours ago</small>
                              </span>
                                    </li>
                                    <li class="list-group-item dark-white text-color box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="images/a2.jpg" alt="..." class="w-40 img-circle">
                              </span>
                                        <span class="clear block">
                                <a href="#" class="text-primary">Danie</a> sent you a message<br>
                                <small class="text-muted">1 day ago</small>
                              </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- / dropdown -->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link clear" data-toggle="dropdown">
                      <span class="avatar w-32">
                        <img src="images/a3.jpg" class="w-full rounded" alt="...">
                      </span>
                        </a>
                        <div class="dropdown-menu w dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href="profile.html">
                                <span>Profile</span>
                            </a>
                            <a class="dropdown-item" href="setting.html">
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item" href="app.inbox.html">
                                <span>Inbox</span>
                            </a>
                            <a class="dropdown-item" href="app.message.html">
                                <span>Message</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="docs.html">
                                Need help?
                            </a>
                            <a class="dropdown-item" href="signin.html">Sign out</a>
                        </div>
                    </li>
                </ul>
                <!-- / navbar right -->
            </div>
        </div>
        <div class="app-body">

            <!-- ############ PAGE START-->

            <div class="app-body-inner">
                <div class="row-col">
                    <div class="col-xs-3 w-xl modal fade aside aside-lg" id="subnav">
                        <div class="row-col black b-r bg">
                            <div class="b-b">
                                <div class="navbar no-radius">
                                    <!-- nabar right -->
                                    <ul class="nav navbar-nav pull-right m-l">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" data-toggle="dropdown">
						            <span class="btn btn-xs white rounded dropdown-toggle">
						            	New
						            </span>
                                            </a>
                                            <div class="dropdown-menu text-color pull-right" role="menu">
                                                <a class="dropdown-item">
                                                    <i class="fa fa-inbox"></i>
                                                    New Course
                                                </a>
                                                <a class="dropdown-item">
                                                    <i class="fa fa-check-square-o"></i>
                                                    New task
                                                </a>
                                                <a class="dropdown-item">
                                                    <i class="fa fa-file-o"></i>
                                                    New note
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <i class="fa fa-comment-o"></i>
                                                    Message
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- / navbar right -->
                                    <!-- link and dropdown -->
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item">
                                            <span class="navbar-item text-md">Courses</span>
                                        </li>
                                    </ul>
                                    <!-- / link and dropdown -->
                                </div>
                            </div>
                            <!-- flex content -->
                            <div class="row-row">
                                <div class="row-body scrollable hover">
                                    <div class="row-inner">
                                        <!-- left content -->
                                        <div class="list" data-ui-list="b-r b-2x b-theme">
                                            {% include 'zedny_admin/courses/partials/tracking_course_item.html' %}
                                        </div>
                                        <!-- / -->
                                    </div>
                                </div>
                            </div>
                            <!-- / -->
                            <!-- footer -->
                            <div class="p-a b-t clearfix">
                                <div class="btn-group pull-right">
                                    <a href="#" class="btn btn-xs white circle"><i
                                            class="fa fa-fw fa-angle-left"></i></a>
                                    <a href="#" class="btn btn-xs white circle"><i class="fa fa-fw fa-angle-right"></i></a>
                                </div>
                                <span class="text-sm text-muted">Total: <strong>4</strong></span>
                            </div>
                            <!-- / -->
                        </div>
                    </div>
                    <!-- TASKS -->
                    <div class="col-xs-4 modal fade aside aside-sm" id="list">
                        <div class="row-col b-r light lt">
                            <!-- Tasks Top Menu -->
                            <div class="b-b hide">
                                <div class="navbar no-radius">
                                    <a data-toggle="modal" data-target="#subnav" data-ui-modal
                                       class="navbar-item pull-left hidden-xl-up hidden-sm-down">
							<span class="btn btn-sm btn-icon blue">
					      		<i class="fa fa-th"></i>
					        </span>
                                    </a>
                                    <!-- nabar right -->
                                    <ul class="nav navbar-nav pull-right m-l">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link text-muted" href="#" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu pull-right text-color" role="menu">
                                                <a class="dropdown-item">
                                                    <i class="fa fa-tag"></i>
                                                    Tag item
                                                </a>
                                                <a class="dropdown-item">
                                                    <i class="fa fa-pencil"></i>
                                                    Edit item
                                                </a>
                                                <a class="dropdown-item">
                                                    <i class="fa fa-trash"></i>
                                                    Delete item
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                    More action
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- / navbar right -->
                                    <!-- link and dropdown -->
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item">
                                            <span class="navbar-item m-r-0 text-md">Tasks</span>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link">
						            <span class="label rounded">
						            	55
						            </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- / link and dropdown -->
                                </div>
                            </div>
                            <!-- flex content -->
                            <div class="row-row">
                                <div class="row-body scrollable hover">
                                    <div class="row-inner">
                                        <!-- content -->
                                        <div class="list" data-ui-list="b-r b-2x b-theme">
                                            {% include 'zedny_admin/courses/partials/tracking_task_item.html' %}
                                        </div>
                                        <!-- / -->
                                    </div>
                                </div>
                            </div>
                            <!-- / -->
                            <!-- footer -->
                            <div class="p-a b-t clearfix">
                                <div class="btn-group pull-right">
                                    <a href="#" class="btn btn-xs white circle"><i
                                            class="fa fa-fw fa-angle-left"></i></a>
                                    <a href="#" class="btn btn-xs white circle"><i class="fa fa-fw fa-angle-right"></i></a>
                                </div>
                                <span class="text-sm text-muted">Completed: <strong>10</strong>, In Progress: <strong>5</strong></span>
                            </div>
                            <!-- / -->
                        </div>
                    </div>
                    <div class="col-xs-5" id="detail">
                        <div class="row-col white b-r">
                            <div class="b-b">
                                <div class="navbar no-radius">

                                    <!-- nabar right -->
                                    <ul class="nav navbar-nav pull-right m-l">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link">
						            <span class="label warn rounded">
						            	24
						            </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- / navbar right -->

                                    <a data-toggle="modal" data-target="#subnav" data-ui-modal
                                       class="navbar-item pull-left hidden-md-up">
							<span class="btn btn-sm btn-icon blue">
					      		<i class="fa fa-th"></i>
					        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#list" data-ui-modal
                                       class="navbar-item pull-left hidden-md-up">
					    	<span class="btn btn-sm btn-icon btn-default">
					      		<i class="fa fa-list"></i>
					      	</span>
                                    </a>
                                    <span class="navbar-item text-md text-ellipsis">Activities</span>
                                </div>
                            </div>
                            <!-- flex content -->
                            <div class="row-row">
                                <div class="row-body scrollable hover">
                                    <div class="row-inner">
                                        <!-- content -->
                                        <div class="p-a">
                                            {% include 'zedny_admin/courses/partials/tracking_time_line.html' %}
                                        </div>
                                        <!-- / -->
                                    </div>
                                </div>
                            </div>
                            <!-- footer -->
                            <div class="p-a p-y-sm b-t">
                                <form>
                                    <div class="input-group b-a b-transparent">
                                        <input type="text" class="form-control no-border"
                                               placeholder="What are you doing">
                                        <span class="input-group-btn">
				            	<button class="btn no-bg no-shadow" type="button">
				            		<i class="fa fa-send text-success"></i>
				            	</button>
				          	</span>
                                    </div>
                                </form>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                    <div class="col-xs w-80" id="sidenav">
                        <div class="row-col bg">
                            <!-- flex content -->
                            <div class="row-row">
                                <div class="row-body scrollable hover">
                                    <div class="row-inner">
                                        <!-- content -->
                                        <div class="p-y text-center">
                                            <div>
                                                <a href="#" class="inline">
							      		<span class="circle w-40 avatar success">
							      			M
							      		</span>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="inline">
							      		<span class="circle w-40 avatar info">
							      			RD
							      		</span>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="inline">
							      		<span class="circle w-40 avatar">
							      			<img src="images/a2.jpg" alt=".">
							      		</span>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="inline">
							      		<span class="circle w-40 avatar">
							      			<img src="images/a3.jpg" alt=".">
							      		</span>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="#" class="inline">
							      		<span class="circle w-40 avatar grey">
							      			S
							      		</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / -->
                            <!-- footer -->
                            <div class="p-y text-center">
                                <a href="#" class="md-btn md-mini md-fab primary"><i class="fa fa-plus"></i></a>
                            </div>
                            <!-- / -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
    </div>
    <!-- / -->


{% endblock %}