<style>
    /* modal */
    .modal-mask {
        position: fixed;
        z-index: 9998;
        border-radius: 3px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, .5);
        /* display: table; */
        transition: opacity .15s linear;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .modal-footer {
        border-radius: 3px;
    }
    .modal-enter {
        opacity: 0;
    }
    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        overflow-x: hidden;
        overflow-y: auto;
    }
    /* sortable list */
    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        z-index: 2000;
    }

    ul.draggable-list li.placeholder {
        position: relative;
        /** More li styles **/
    }
    ul.draggable-list li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
    }
    /* file prev */
    .file-prev-group {
        position: relative;
        height: auto;
        padding:15px 25px;
        margin: 0 0 20px 0;
        text-align: center;
        border: rgb(49, 48, 48);
        text-align: center;
        color: rgb(73, 73, 78);
        background-color: rgb(250, 240, 240);
        border: 1px solid rgba(0,0,0,0.07);
    }
    .file-prev-group-errors {
        border: 1px solid #f35958;
        color: #f35958;
    }
    /* .file-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    } */
    .file-input , .file-label {
        cursor: pointer;
        width: 100%;
        font-size: 1.25em;
        font-weight: 700;
        display: inline-block;
    }
    .file-input + .file-label * {
        pointer-events: none;
    }
  
    .file-prev-container {
        position: relative;
        width: 100%;
    }
    .file-prev-container img {
        width: 100%;
        height: auto;
    }
    .file-prev-container .btn {
        position: absolute;
        top: 5%;
        right: 5%;
        /* transform: translate(-50%, -50%); */
        /* -ms-transform: translate(-50%, -50%); */
        /* background-color: #555; */
        color: rgb(121, 118, 118);
        font-size: 10px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        text-align: center;
    }
    .file-prev-container .btn:hover {
        background-color: black;
    }
    .category-list-container {
        overflow-y: scroll;
        height: 200px;
        border: 0.5px solid #e5e9ec;
        border-top: none;
    }
    .category-list-container::-webkit-scrollbar {
        width: 0;
    }
    .category-list {
        padding: 3px;
        list-style-type: none;
    }
    .category-sub-list {
        padding: 0 5px;
        list-style-type: none;
    }
    .category-list-item {
        overflow: hidden;
        padding: 3px;
        margin: 3px;
        border-top: 1px solid #ccc;
        border-radius: 3px
    }
    .category-list-item:first-of-type {
        border-top: none;
    }
    .category-list-item-btn {
        cursor: pointer;
        margin-right: 2px
    }
    .select2-dropdown{
        border: 1px solid #e5e9ec;
        border-radius: none;
    }
    .select2-dropdown{
        border: 1px solid #e5e9ec;
        border-radius: none;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #e5e9ec;
        border-radius: none !important;
        line-height: 15px !important;
        font-size: 13px !important;
        height: 34px !important;

    }
    .select2-selection__choice {
        background-color: #0090d9 !important;
        border: 1px solid #0090d9 !important;
        color: #fff;
    }
    .select2-selection__choice__remove {
        color: #fff !important;
    }
    input[type="search"] {
        padding: 6px 0px !important;
    }
    .bootstrap-tagsinput{
        margin-bottom: 0;
    }
    .selected-tag {
        background-color: #f4f5f7;
        color: 56646e !important
    }
</style>

<script type="text/x-template" id="category-tag-template">
    <div>
        <ul class="nav nav-tabs">
            <li :class="{'active':active == 'cat'}">
                <a href="javascript:;" @click="setActive('cat')" >categories</a>
            </li>
            <li :class="{'active':active == 'tag'}">
                <a href="javascript:;" @click="setActive('tag')">tags</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="categories" class="tab-pane fade" :class="[active == 'cat' ? 'in active' : '']">
                <label>Add Categories:</label>
                <div class="input-group">
                    <input type="text" class="form-control" v-model="search" placeholder="Search">
                    <span class="input-group-addon"><a href="javascript:;" title="Add Category" @click="toggleAddCategory"><i class="glyphicon glyphicon-plus"></i></a></span>
                </div>
                <div class="input-group" v-show="formToggle">
                    <input id="add-category-name" type="text" class="form-control" placeholder="Add Category">
                    <select id="select-parent" class="form-control" style="width:100%">
                        <option value="0">None</option>
                        <option v-for="elm in categoryList" :value="elm.id">{% verbatim %} {{elm.name}} {% endverbatim %}</option>
                    </select>
                    <span class="input-group-addon"><a href="javascript:;" @click="submitCategory"><i class="glyphicon glyphicon-ok"></i></a></span>
                </div>
                <div class="alert alert-danger" v-show="deleteToggle" style="margin-bottom:0">
                    Are you Sure?
                    <div class="clearfix"></div>
                    <a  class="btn btn-danger btn-sm" @click="deleteCategory(actionId),deleteToggle = false">Yes</a>
                    <a  class="btn btn-default btn-sm" @click="deleteToggle = false" >No</a>
                </div>
                <div class="category-list-container">
                    <cat-item :data="categories"
                              v-if="!search"
                              :select-category="selectCategory"
                              :toggle-category-delete="toggleCategoryDelete"
                              :toggle-category-form="toggleCategoryForm"></cat-item>
                    <cat-item :data="filteredList" 
                              v-if="search"
                              :select-category="selectCategory"
                              :toggle-category-delete="toggleCategoryDelete"
                              :toggle-category-form="toggleCategoryForm"></cat-item>
                </div>
            </div>
            <div id="tags" class="tab-pane fade" :class="[active == 'tag' ? 'in active' : '']">
                <label>Add Tags:</label>
                <input class="span12 tagsinput" name="tagsinput" type="text" value="" id="tagsinput"/>
                <div class="category-list-container">
                    <ul class="category-list categoriesInput" id="tagList">
                        <li class="category-list-item" v-for="tag in tagsList" :id="'tag'+tag.id+tag.name" :key="tag.id">{% verbatim %} {{tag.name}} {% endverbatim %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="category-item-template">
    <ul class="category-list categoriesInput">
        <li class="category-list-item" v-for="category in data" :key="category.id">
            
            <i class="pull-right glyphicon glyphicon-edit category-list-item-btn" @click="toggleCategoryForm(category)"></i>
            <i class="pull-right glyphicon glyphicon-remove category-list-item-btn" @click="toggleCategoryDelete(category.id)"></i>
            <input type="checkbox" @change="selectCategory(category, $event)">
            {% verbatim %} {{category.name}} {% endverbatim %}
            <i @click="toggle(category)" v-if="category.hasChildren" class="caret category-list-item-btn"></i>
            <cat-item v-show="open" v-if="category.hasChildren" :data="category.children"
                      :select-category="selectCategory"
                      :toggle-category-delete="toggleCategoryDelete"
                      :toggle-category-form="toggleCategoryForm"></cat-item>
        </li>
    </ul>
</script>

<script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask" role="document">
        <div class="modal-dialog " >
          <div class="modal-content" >
  
            <div class="modal-header">
                <button type="button" class="close" @click="$emit('close')"><span>&times;</span></button>
                <br>
                <i class="fa fa-question fa-7x"></i>
                <slot name="header">
                    <h4 id="myModalLabel" class="semi-bold">Lorem, ipsum dolor.</h4>
                </slot>
            </div>
            <div class="modal-body">
              <slot name="body"></slot>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" @click="$emit('close')">Close</button>
                <slot name="footer"></slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
</script>

<script type="text/x-template" id="filePreviewer-template">
    <div class="file-prev-group" v-bind:class="{ 'file-prev-group-errors': hasError }">
        <input type="file" ref="file" class="form-control file-input" :name="fileprevdata.name" @change="loadFile()">
        
        <label class="file-label" :for="fileprevdata.name"><span class="fa fa-upload fa-lg"></span> {% verbatim %}{{fileprevdata.label}} {% endverbatim %}</label>
        <template v-if="fileprevdata.type == 'image' && showPreview">
            <div class="file-prev-container">
                <img :src="src" style="width: 100%;height: 150px;">
                <button type="button" class="btn file-prev-close pull-right" @click="removedata()"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </template>
        <template v-if="fileprevdata.type == 'video' && showPreview">
            <div class="file-prev-container">
                <video style="width: 100%;height: 100px;" controls id="content_video_prev">
                    <source :src="src" :type="fileprevdata.vidtype">
                </video>
                <button type="button" class="btn file-prev-close pull-right" @click="removedata()"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </template>
        <template v-if="hasError">
            <div class="file-prev-container">
                <span v-if="hasError" class="" v-text="hasError"></span>
            </div>
        </template>
    </div>
</script>

<script type="text/x-template" id="sortable-list-template">
    <div>
        <modal v-if="showModal" @close="showModal = false">
            <h4 id="myModalLabel" class="semi-bold" slot="header">custom header</h4>
        </modal>
        <template v-if="typeof data !== 'undefined' && data.length > 0">
            <ul class="list-group draggable-list" id="list-sortable">
                <li class="list-group-item" v-for="(item, index) in data" :key="item.pk" :data-pk="item.pk" :data-order="item.fields.order">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="list-group-item-heading" >
                                <span class="semi-bold" v-text="item.fields.name"></span>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-default btn-link pull-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu row">
                                        <li>
                                            <div class="col-md-2" style="padding:7px 15px!important">
                                                <i class="glyphicon glyphicon-arrow-right"></i>
                                            </div>
                                            <div class="col-md-8">
                                                <a class="btn btn-link" :href="'/contents/'+item.pk">Visit</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-2" style="padding:7px 15px!important">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </div>
                                            <div class="col-md-8">
                                                <a class="btn btn-link" :href="'/contents/edit/'+courseid+'/'+item.pk">Edit</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-2" style="padding:7px 15px!important">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </div>
                                            <div class="col-md-8">
                                                <a class="btn btn-link" href="javascript:;" @click="showModal = true" >Delete</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </template >
        <template v-else>
            <h4>There is no Content Yet!</h4>
        </template>
    </div>
</script>