<!-- Modal -->
<div class="modal fade" id="create_quest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-question fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Add Question</h4>

            </div>

            <form id="QuestForm" style="width: 100%;"
                  role="form" enctype="multipart/form-data"
                  method="POST" action=""
                  class="simple_form form-horizontal">
                 {% csrf_token %}

                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-12">
                                <textarea required type="text" class="form-control" rows="3" name="{{quest_form.question.html_name}}" placeholder="Question"></textarea>
                        </div>
                    </div>

                    <div id ="choices_create_matching"></div>

                    <div id ="choices_create_MCQ"></div>

                    <div class="row form-row">
                        <a class="float-left btn btn-link "
                        {% if exam.type == "MCQ" or exam.type == "Complete"%}
                           onclick="addCreateChoiceMCQ()"
                        {%endif%}
                        {% if exam.type == "Matching" %}
                           onclick="addCreateChoiceMatching()"
                        {%endif%}

                        ><i class="glyphicon glyphicon-plus"></i> Add Choice</a>
                    </div>

                </div>

                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>