{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="content">
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li>
                    <a href="#">Exam</a>
                </li>
                <li>
                    <a href="#" class="active">Create</a>
                </li>
            </ul>

            <!-- Content -->
            <div class="row">
                <div class="col-md-12">
                    <form id="commentForm" style="width: 100%;"
                          role="form" enctype="multipart/form-data"
                          method="POST" action=""
                          class="simple_form form-horizontal">

                    {% csrf_token %}

                        <div id="rootwizard" class="col-md-12">
                            <!-- Wizard Steps -->
                            <div class="form-wizard-steps" style="margin-bottom: 15px;">
                                <ul class="wizard-steps form-wizard" style="width: 100%;">
                                    <li class="active" data-target="#step1" style="min-width: 33%;">
                                        <a varia-expanded="true">
                                            <span class="step">1</span>
                                            <span class="title">Creating</span>
                                        </a>
                                    </li>
                                    <li data-target="#step2" style="min-width: 33%;">
                                        <a  aria-expanded="false">
                                            <span class="step">2</span>
                                            <span class="title">Create Test Cases Templete</span>
                                        </a>
                                    </li>
                                    <li data-target="#step3" style="min-width: 33%;">
                                        <a aria-expanded="false">
                                            <span class="step">3</span>
                                            <span class="title">Preview
                                        <br>
                                    </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content transparent">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10" style="margin-top : 50px;">
                                        <div class="grid simple">
                                            <div class="grid-title no-border">
                                                <h4>Create
                                                    <span class="semi-bold">Question</span>
                                                </h4>
                                                <div class="tools hide">
                                                    <a href="javascript:;" class="collapse"></a>
                                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                    <a href="javascript:;" class="reload"></a>
                                                    <a href="javascript:;" class="remove"></a>
                                                </div>
                                            </div>

                                               <div class="grid-title no-border">
                                                     {{ inter_form.non_field_errors }}
                                                    {{ inter_form.errors }}
                                                    <div class="form-group {% if inter_form.name.errors %} has-error {% endif %} string required corporation_title">
                                                        <label class="string required col-sm-2 control-label"><abbr
                                                                title="verplicht">*</abbr>  name :</label>
                                                        <div class="col-sm-10">
                                                            {{ inter_form.name }}

                                                            {% if inter_form.name.errors %}
                                                                {% for error in inter_form.name.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if form.name.help_text %}
                                                                    <span class="help">{{ inter_form.name.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.name.help_text %}
                                                                    <span class="help">{{ inter_form.name.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                     <div class="form-group {% if inter_form.quest_text.errors %} has-error {% endif %} string required corporation_title">
                                                        <label class="string required col-sm-2 control-label"><abbr
                                                                title="verplicht">*</abbr> Questions Text</label>
                                                        <div class="col-sm-10">
                                                            {{ inter_form.quest_text }}
                                                            {% if inter_form.quest_text.errors %}
                                                                {% for error in form.quest_text.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if inter_form.quest_text.help_text %}
                                                                    <span class="help">{{ inter_form.quest_text.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.quest_text.help_text %}
                                                                    <span class="help">{{ inter_form.quest_text.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="form-group {% if inter_form.input_text.errors %} has-error {% endif %} required">
                                                        <label class="string required col-sm-2 control-label"
                                                               ><abbr
                                                                title="verplicht">*</abbr> Input Text </label>
                                                        <div class="col-sm-10">
                                                        {{ inter_form.input_text }}
                                                            {% if inter_form.input_text.errors %}
                                                                {% for error in form.input_text.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if inter_form.input_text.help_text %}
                                                                    <span class="help">{{ inter_form.input_text.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.input_text.help_text %}
                                                                    <span class="help">{{ inter_form.input_text.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                <div class="form-group {% if inter_form.output_text.errors %} has-error {% endif %} required">
                                                        <label class="string required col-sm-2 control-label"
                                                               ><abbr
                                                                title="verplicht">*</abbr> Output Text</label>
                                                        <div class="col-sm-10">
                                                            {{ inter_form.output_text }}
                                                            {% if inter_form.output_text.errors %}
                                                                {% for error in inter_form.output_text.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if inter_form.output_text.help_text %}
                                                                    <span class="help">{{ inter_form.output_text.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.output_text.help_text %}
                                                                    <span class="help">{{ inter_form.output_text.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                <div class="form-group {% if inter_form.max_score.errors %} has-error {% endif %} required">
                                                        <label class="string required col-sm-2 control-label"
                                                               <abbr
                                                                title="verplicht">*</abbr>Max Score</label>
                                                        <div class="col-sm-10">
                                                            {{ inter_form.max_score }}
                                                            {% if inter_form.max_score.errors %}
                                                                {% for error in form.max_score.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if inter_form.max_score.help_text %}
                                                                    <span class="help">{{ inter_form.max_score.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.max_score.help_text %}
                                                                    <span class="help">{{ inter_form.max_score.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                <div class="form-group {% if inter_form.max_memory_limit.errors %} has-error {% endif %} required">
                                                        <label class="string required col-sm-2 control-label"
                                                               ><abbr
                                                                title="verplicht">*</abbr>Max Memory Limit(megabytes)</label>
                                                        <div class="col-sm-10">
                                                            {{ inter_form.max_memory_limit }}
                                                            {% if inter_form.max_memory_limit.errors %}
                                                                {% for error in form.max_memory_limit.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if inter_form.max_memory_limit.help_text %}
                                                                    <span class="help">{{ inter_form.max_memory_limit.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.max_memory_limit.help_text %}
                                                                    <span class="help">{{ inter_form.max_memory_limit.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                <div class="form-group {% if inter_form.max_time_limit.errors %} has-error {% endif %} required">
                                                        <label class="string required col-sm-2 control-label"
                                                               ><abbr
                                                                title="verplicht">*</abbr> Max Time Limit (second)</label>
                                                        <div class="col-sm-10">
                                                            {{ inter_form.max_time_limit }}
                                                            {% if inter_form.max_time_limit.errors %}
                                                                {% for error in form.max_time_limit.errors %}
                                                                    <span class="help">{{ error|escape }}</span>#}
                                                                {% endfor %}
                                                                {% if inter_form.max_time_limit.help_text %}
                                                                    <span class="help">{{ inter_form.max_time_limit.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if inter_form.max_time_limit.help_text %}
                                                                    <span class="help">{{ inter_form.max_time_limit.help_text|safe }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="icon-ok"></i> Save & Next
                                                            </button>
                                                        </div>
                                                   </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'zedny_admin/assets/js/exam/MCQ.js' %}" type="text/javascript"></script>
<script src="{% static 'zedny_admin/assets/js/exam/Matching.js' %}" type="text/javascript"></script>
{% endblock %}