<!-- Modal -->
<div class="modal fade" id="edit_quest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-question fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Add Question</h4>
                {# <p class="no-margin">You'll be charged $29/Month and get immediate access to new#}
                {# plan </p>#}
                {# <br>#}

            </div>

            <form id="QuestForm" style="width: 100%;"
                  role="form" enctype="multipart/form-data"
                  method="POST" action="{% url 'admin-exam-questions-update'  exam.id  %}"
                  class="simple_form form-horizontal">
                 {% csrf_token %}

                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-12">
                                <textarea required type="text" id = "quest_edit_area"class="form-control" rows="3" name="{{quest_form.question.html_name}}" placeholder="Question"></textarea>
                        </div>
                    </div>

                    <div id ="choices_edit"></div>

                    <div class="row form-row">
                        <a class="float-left btn btn-link "
                           {% if exam.type == "MCQ" or exam.type == "Complete" %}
                            onclick="addMCQEditChoice()"
                            {%endif%}

                            {% if exam.type == "Matching" %}
                            onclick="addMatchingEditChoice()"
                            {%endif%}

                        ><i class="glyphicon glyphicon-plus"></i> Add Choice</a>
                    </div>

                </div>

                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>