
{% verbatim %}
<script id="MCQ-template" type="text/x-handlebars-template">

    <div class="row form-row">
        <div class="col-md-6">
            {% endverbatim %}
            <input type="text"required  {% verbatim %} value = "{{answer}}" {% endverbatim %}
                   name="{{ans_form.answer.html_name}}" class="form-control" placeholder="Choice">
            {% verbatim %}
        </div>


        <div class="col-md-1 checkbox check-primary">
            <input type="checkbox"  id  = "chk_{{id}}" onclick="ToggleDegree({{id}})" {{#if is_correct}} checked {{/if}}  class="form-check-input">
            <label for="chk_{{id}}">score</label>
        </div>

        <div class="col-md-3"  class="form-group {% if form.type.errors %} has-error {% endif %} required">
            {% endverbatim %}
            <input type="number" step=any name = "{{ans_form.score.html_name}}" {% verbatim %} id="degree_{{id}}"
                   class="form-control  {{#if is_correct }} {{else}} hide {{/if}} " value = "{{score}}"{% endverbatim %}
                   name="{{ans_form.score.html_name}}"  placeholder="score">
        </div>
        {% verbatim %}

            <i onclick="removeAns({{id}},{{quest_id}})"  id="remove_ans_{{id}}_{{quest_id}}" class = "remove_ans fa-2x fa fa-trash-o " style = "cursor: pointer;" > </i>
                <input type="hidden" name = "quest_id" value = "{{quest_id}}">
        {% endverbatim %}
    </div>
</script>

<script id="Matching-template" type="text/x-handlebars-template">

    <div class="row form-row">

        <div class="col-md-5">
            <input class="form-control" required name="{{ans_form.answer.html_name}}" type="input" {% verbatim %} id = "quest_match_{{id}}"value = "{{answer}}"  {% endverbatim %}  placeholder="Question" class="form-check-input">
        </div>
        <div class="col-md-5">

            <input class="form-control" required type="input"  name="{{ans_form.match_answer.html_name}}"  {% verbatim %} id = "ans_match_{{id}}" value = "{{match_answer}}" {% endverbatim %}   placeholder="Answer" class="form-check-input">

        </div>
            {% verbatim %}
        <i class= "fa-2x fa fa-trash-o" style = "cursor: pointer;"  onclick="removeAns({{id}},{{quest_id}})" id="remove_ans_{{id}}_{{quest_id}}"></i>
        <input type="hidden" name = "quest_id" value = "{{quest_id}}">
            {% endverbatim %}
    </div>
</script>

<script id="testcase-template" type="text/x-handlebars-template">
      {% verbatim %}
      <div class="row form-row">
          <div class="col-md-2 form-row" id = "line_num_text_{{id}}">
              <label class="form-label bold " style="margin-top : 10px ; color:#2C7289; ">Line {{id}} : </label>
         {% endverbatim %}
         </div>
       {% verbatim %}
      <div class="col-md-10"  id = "line_block_{{id}}">
        <div class="alert alert-info">
            <div class="row" id = "line_{{id}}" ></div>
            <div style="padding-bottom : 15px ; ">
                <a class="close" onclick="deleteLine({{id}})"></a>
                <i class="fa fa-plus-square pull-right" onclick="addElement({{id}})" style="font-size:17px;color:#2C7289; margin-top : 1px ; cursor: pointer;" ></i>
                <i class="fa fa-trash-o pull-right" onclick="deleteElement({{id}})"  style="font-size:17px;color:#2C7289; margin-top : 1px ; cursor: pointer;" ></i>
            </div>
        {% endverbatim %}
        </div>
      </div>
    </div>
</script>



