{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load extras %}
{% block content %}
<div class="page-content">
    <div class="content">
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li>
                <a href="#">Exam</a>
            </li>
            <li>
                <a href="#">Questions</a>
            </li>
            <li>
                <a href="#" class="active">Create</a>
            </li>
        </ul>

        <!-- Content -->
        <div class="row">
            <!-- Page content No Data -->
            <div class="col-md-12 {% if questions %} hide {%endif%} ">
                <div class="grid simple transparent ">
                    <div class="grid-body no-border">
                        <div class="text-center">
                            <img class="img-responsive"
                                 style="width: 200px; margin-left: auto; margin-right: auto; display: block;"
                                 src="{% static '/zedny_admin/assets/img/no_data.svg' %}"/>
                            <h4 class="text-muted">No Questions Found</h4>
                        </div>
                        <br/>
                        <div class="col-md-4 col-md-offset-4">
                            <a class="btn btn-block btn-dark" href="{% url 'admin-exam-question-inter-create' exam.id %}" >
                                <i class="glyphicon glyphicon-plus" ></i> Add First Question
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Content Existed Data -->
            <div class="col-md-offset-1 col-md-10 {% if not questions %} hide {%endif%} ">
                <div class="grid simple ">
                    <div class="grid-title no-border">
                        <div class="tools">
                            <button class="btn btn-link pull-right" data-toggle="modal" data-target="#create_quest"><i
                                    class="glyphicon glyphicon-plus"></i> Add New
                            </button>
                        </div>
                    </div>
                    <div class="grid-body no-border ">
                        <h3>Questions <span class="semi-bold"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--handlebars templete-->
{% with "zedny_admin/exams/question/handlebars_templetes.html" as formTemplate %}
{% include formTemplate %}
{% endwith%}

{% endblock %}

{% block scripts %}
{% endblock %}