   {% load extras %}

 <div class="col-md-offset-1 col-md-10 {% if not questions %} hide {%endif%} ">
    <div class="grid simple ">
        <div class="grid-title no-border">
            <div class="tools">
                <button class="btn btn-link pull-right" data-toggle="modal" data-target="#create_quest"><i
                        class="glyphicon glyphicon-plus"></i> Add New
                </button>
            </div>
            <h3>Questions <span class="semi-bold"></span></h3>
        </div>
    </div>
 </div>

 {% for quest in questions %}
   <div class="col-md-offset-1 col-md-10 {% if not questions %} hide {%endif%} ">
    <div class="grid simple ">
        <div class="grid-body no-border ">
            <div class="row form-row ">
                <div class="col-md-12">
                    <h5>Question<span class="Bold"></span> {{forloop.counter}}</h5>
                    <div class="form-group">
                        <textarea style = "cursor: default;"  id = "txt_quest_{{quest.id}}" type="text" class="form-control" disabled rows="3">{{quest.question}}</textarea>
                    </div>
                    <div class="col-md-12" >
                        <div class="form-group">
                            <input type="hidden" id ="ans_info_{{quest.id}}" data-id="{{collect_ans|get_item:quest.id|length}}">
                        </div>
                        <div class="row">
                            {%for ans in collect_ans|get_item:quest.id %}
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <div class="tiles-body">
                                            <div class="input-group">
                                              <input style = "cursor: default;"  disabled id = "ans_quest_{{quest.id}}_{{forloop.counter}}" type="text" name="{{ans_form.answer.html_name}}" class="form-control" value="{{ans.answer}}" placeholder="Choice">
                                                    <span class="input-group-addon primary" style="width : 50% ;">
                                                         <span class="arrow"></span>
                                                         <i id = "match_answer_{{quest.id}}_{{forloop.counter}}">{{ans.match_answer}}</i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group pull-right">
                            <a data-toggle="modal"
                               data-target="#edit_quest"
                               data-id="{{quest.id}}"
                               class="edit-matching-quest btn btn-white">Edit</a>
                            <a href="{% url 'admin-exam-questions-delete'  exam.id quest.id %}"  class="btn btn-white">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
       </div>

    </div>
</div>
    {%endfor%}

