{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="content">
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li>
                    <a href="#">Exam</a>
                </li>
                <li>
                    <a href="#" class="active">Create</a>
                </li>
            </ul>

            <!-- Content -->
            <div class="row">
                <div class="col-md-12">
                    <div id="rootwizard" class="col-md-12">
                        <!-- Wizard Steps -->
                        <div class="form-wizard-steps" style="margin-bottom: 15px;">
                            <ul class="wizard-steps form-wizard" style="width: 100%;">
                                <li  data-target="#step1" style="min-width: 33%;">
                                    <a varia-expanded="true">
                                        <span class="step">1</span>
                                        <span class="title">Creating</span>
                                    </a>
                                </li>
                                <li class="active" data-target="#step2" style="min-width: 33%;">
                                    <a  aria-expanded="false">
                                        <span class="step">2</span>
                                        <span class="title">Create Test Cases Templete</span>
                                    </a>
                                </li>
                                <li data-target="#step3" style="min-width: 33%;">
                                    <a aria-expanded="false">
                                        <span class="step">3</span>
                                        <span class="title">Preview
                                    <br>
                                </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-content transparent" >
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="grid simple form-grid ">
                                    <div class="grid-body no-border"  style = "padding : 10px ; margin-top : 30px ;">
                                        <div class="row column-seperation">
                                          <div class="col-md-6">
                                            <div class="row form-row" style="margin-top : 5px ;">
                                              <div class="pull-right">
                                                <button onclick="addLine()" class="btn btn-link pull-right"><i class="glyphicon glyphicon-plus"></i> Add Line
                                                </button>
                                              </div>
                                            </div>
                                              <br>

                                            <div class="row form-row">
                                                 <div class="col-md-1 col-md-offset-4" id = "no_lines">
                                                     <div class = "fa fa-frown-o fa-3x "style="width : 200px !important;">
                                                         No Lines
                                                     </div>
                                                 </div>
                                                 <div class="col-md-12" id = "test_cases_lines">
                                              </div>
                                            </div>
                                          </div>
                                        <div class="col-md-6">
                                            <h4>Element Information / <span id ="element_title" class = "bold"></span></h4>
                                            <div class="row form-row">
                                              <div class="col-md-6">
                                                <label class="control-label " >Element Type : </label>
                                              </div>
                                            </div>
                                            <div class="row form-row">
                                              <div class="col-md-12">
                                                    <select class="form-control" id="type">
                                                      <option value="Integer">Integer</option>
                                                      <option value="Float">Float</option>
                                                      <option value="String">String</option>
                                                      <option value="Character">Character</option>
                                                      <option value="Boolean">Boolean</option>
                                                      <option id="linked_array_val" value="Linked With Array">Linked With Array</option>
                                                    </select>
                                              </div>
                                            </div>
                                            <br>
                                            <div class="row form-row">
                                              <div class="col-md-6">
                                                <label class="control-label " >Min length : </label>
                                              </div>
                                                 <div class="col-md-6">
                                                <label class="control-label " >Max Length : </label>
                                              </div>
                                            </div>
                                            <div class="row form-row">
                                              <div class="col-md-6">
                                                <input type="number" class="form-control" id="min_length" placeholder="Min length">
                                              </div>
                                              <div class="col-md-6">
                                                <input  type="number" class="form-control" id="max_length" placeholder="Max Length">
                                              </div>
                                            </div>
                                            <br>
                                            <div id="linked_div" class="hide">
                                                <div class="row form-row">
                                                  <div class="col-md-6">
                                                    <label class="control-label " >Element List : </label>
                                                  </div>
                                                     <div class="col-md-6">
                                                    <label class="control-label " >Type of Elements : </label>
                                                  </div>
                                                </div>

                                                <div class="row form-row">
                                                  <div class="col-md-6">
                                                        <select id="element_list" class="form-control">

                                                        </select>
                                                  </div>
                                                     <div class="col-md-6">
                                                        <select id="type_no_linked" name="type" class="form-control">
                                                          <option value="Integer">Integer</option>
                                                          <option value="Float">Float</option>
                                                          <option value="String">String</option>
                                                          <option value="Character">Character</option>
                                                          <option value="Boolean">Boolean</option>
                                                        </select>
                                                  </div>
                                                </div>
                                            </div>
                                            <div id="char_lang" >
                                                <div class="row form-row">
                                                  <div class="col-md-12">
                                                    <label class="control-label " >Customize language :</label>
                                                  </div>
                                                </div>

                                                <div class="row form-row">
                                                  <div class="col-md-12">
                                                    <div class="select2-container select2-container-multi form-control select2" id="multi"><ul class="select2-choices">  <li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen2" style="width: 28px;">  </li></ul></div>
                                                  </div>
                                                </div>
                                            </div>

                                            <div class="row small-text pull-right">
                                                <div class="col-md-6 hide">
                                                    <label class="control-label" id = "save_data" ></label>
                                                </div>
                                                <div class="col-md-6">
                                                <button onclick="SaveElementObject()" type="button" class="btn btn-primary btn-sm btn-small">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      <form id="commentForm" style="width: 100%;"
                                      role="form" enctype="multipart/form-data"
                                      method="POST" action="{% url 'admin-exam-question-test-case-create' exam.id %}"
                                      class="simple_form form-horizontal">
                                            {% csrf_token %}
                                        <div class="form-actions">
                                            <div class="row form-row ">
                                              <div class="col-md-10">
                                                    <input required placeholder="Number of test cases" type="number" class="form-control" name = "test_cases_num" data-v-max="999" data-v-min="1">
                                              </div>
                                              <div class="col-md-2">
                                                <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save & preview</button>
                                              </div>
                                          </div>
                                        </div>
                                          <input type="hidden" name = "test_templete" id = "test_templete">
                                          <input type="hidden" name = "quest" value="{{quest.id}}">
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--handlebars templete-->
{% with "zedny_admin/exams/question/handlebars_templetes.html" as formTemplate %}
{% include formTemplate %}
{% endwith%}
{% endblock %}

{% block scripts %}
<script>
     $("#multi").val(["Jim","Lucy"]).select2();
</script>
<script src="{% static 'zedny_admin/assets/js/exam/interactive.js' %}" type="text/javascript"></script>
<script src="{% static 'zedny_admin/assets/plugins/bootstrap-select2/select2.min.js' %}"  type="text/javascript"></script>
<link href="{% static 'zedny_admin/assets/plugins/bootstrap-select2/select2.css' %}"  rel="stylesheet" type="text/css" media="screen">


{% endblock %}