{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="page-content">
    <div class="content">
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#" class="active">Create</a>
            </li>
        </ul>

        <!-- Content -->
        <div class="row" style="text-align:center">
            <div class="col-md-12">
                <br> <br>
                <form id="commentForm" style="width: 100%;"
                      role="form" enctype="multipart/form-data"
                      method="POST" action=""
                      class="simple_form form-horizontal">
                    {% csrf_token %}

<h2>
                        Book Information:
                    </h2>
                    {% bootstrap_field form.name label='Title' layout='horizontal' %}
                    {% bootstrap_field form.descr label='Description' layout='horizontal' %}
                    {% bootstrap_field form.author label='Author' layout='horizontal' %}
                    {% bootstrap_field form.cover label='Cover Photo' layout='horizontal' %}
                    {% bootstrap_field form.year label='Publish Year' layout='horizontal' %}

                    {% buttons %}
                    <button type="submit" class="btn btn-primary">

                        {% bootstrap_icon "ok" %} Submit
                    </button>
                    {% endbuttons %}
                </form>

      <button class='btn btn-danger btn-xs' id="btnDelete" type="submit" name="remove_levels" value="delete"><span class="fa fa-times"></span> delete</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>

  $('#btnDelete').click(function() {
    bootbox.confirm("Are you sure want to delete?", function(result) {

      if (result){
        window.location = "{% url 'admin-book-delete' book.id %}";
      }

    });
  });
</script>
{% endblock %}
