<div class="col-md-8">
    <div class="grid simple">
        <div class="grid-title no-border">
            <a class="btn btn-link pull-right" href="{% url 'admin-contents-create' course_id %}">
                <i class="glyphicon glyphicon-plus"></i> Add New
            </a>
            <h4>Add Content</h4>
        </div>
        <div class="grid-body no-border">
            <form id="ContentForm" style="width: 100%;" role="form" enctype="multipart/form-data" method="POST" action="{% if content_id is not None %}{% url 'admin-contents-edit' course_id content_id %}{% else %}{% url 'admin-contents-create' course_id %}{% endif%}" class="simple_form form-horizontal">
                
                {% csrf_token %}
                {% if content_id is not None %}
                    <input type="hidden" name="_method" value="PUT">
                {% endif%}
                <div class="form-group{% if content.type.errors %} has-error{% endif %} string required corporation_title">
                    <label class="col-md-2 string required control-label" for="content_{{content.type.name}}">Type <abbr>*</abbr></label>
                    <div class="col-md-10">
                        <select name="{{content.type.name}}" id="content_{{content.type.name}}" v-model="contentType" class="form-control">
                            {% for choice in content.type.field.choices %}
                                <option value="{{choice.0}}" >
                                    {{choice.1}}
                                </option>
                            {% endfor %}
                        </select>
                        {% if content.type.errors %}
                            {% for error in content.type.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            {% if content.type.help_text %}
                                <span class="help-block">{{ content.type.help_text|safe }}</span>
                            {% endif %}
                        {% else %}
                            {% if content.type.help_text %}
                                <span class="help-block">{{ content.type.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                
                <div v-if="contentType == 'Exam' || contentType == 'Quiz'" class="form-group{% if content.type.errors %} has-error{% endif %} string required corporation_title">
                    <label class="col-md-2 string required control-label" for="content_{{content.type.name}}">Select Exam <abbr>*</abbr></label>
                    <div class="col-md-10">
                            <select name="type_id" id="content_type_id"  class="form-control"></select>
                        {% if content.type.errors %}
                            {% for error in content.type.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            {% if content.type.help_text %}
                                <span class="help-block">{{ content.type.help_text|safe }}</span>
                            {% endif %}
                        {% else %}
                            {% if content.type.help_text %}
                                <span class="help-block">{{ content.type.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div >
                    
                </div>
                <template v-if="contentType == 'Video'">
                    <div class="row">
                        <div class="col-md-6">
                            <file-prev :fileprevdata="{type:'image',label:'Cover',name:'cover',id:'content_cover',errors:'{{content.cover.errors.0}}',src:'{% if video %}{{ video.cover.url }}{% else %}{% endif %}'}"></file-prev>
                        </div>
                        <div class="col-md-6">
                            <file-prev :fileprevdata="{type:'video',label:'Video',name:'video',id:'content_video',errors:'{{content.video.errors.0}}',src:'{% if video %}{{ video.video.url }}{% else %}{% endif %}',vidtype:'{{video.video_type}}'}"></file-prev>
                        </div>
                    </div>
                </template>
                
                <div class="form-group{% if content.name.errors %} has-error{% endif %} string required corporation_title">
                    <label class="string required col-sm-2 control-label" for="content_{{content.name.name}}">Name <abbr>*</abbr></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="content_{{content.name.name}}" name="{{ content.name.name }}" value="{% if content.name.value is not None %}{{ content.name.value }}{% endif %}">
                        {% if content.name.errors %}
                            {% for error in content.name.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            {% if content.name.help_text %}
                                <span class="help-block">{{ content.name.help_text|safe }}</span>
                            {% endif %}
                        {% else %}
                            {% if content.name.help_text %}
                                <span class="help-block">{{ content.name.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{% if content.slug.errors %} has-error{% endif %} string required corporation_title">
                    <label class="string required col-sm-2 control-label" for="content_{{content.slug.name}}">Slug <abbr>*</abbr></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="content_{{content.slug.name}}" name="{{ content.slug.name }}" value="{% if content.slug.value is not None %} {{ content.slug.value }} {% endif %}">
                        {% if content.slug.errors %}
                            {% for error in content.slug.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            <!-- {% if content.slug.help_text %}
                                <span class="help-block">{{ content.slug.help_text|safe }}</span>
                            {% endif %} -->
                        {% else %}
                            {% if content.slug.help_text %}
                                <span class="help-block">{{ content.slug.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{% if content.descr.errors %} has-error{% endif %} string required corporation_title">
                    <label class="string required" for="content_{{content.descr.name}}">Description <abbr>*</abbr></label>
                    <textarea rows="30" class="text-editor form-control" id="content_{{content.descr.name}}" name="{{ content.descr.name }}">{% if content.descr.value is not None %}{{ content.descr.value }}{% endif %}</textarea>
                    {% if content.descr.errors %}
                        {% for error in content.descr.errors %}
                            <span class="help-block">{{ error|escape }}</span>
                        {% endfor %}
                        {% if content.descr.help_text %}
                            <span class="help-block">{{ content.descr.help_text|safe }}</span>
                        {% endif %}
                    {% else %}
                        {% if content.descr.help_text %}
                            <span class="help-block">{{ content.descr.help_text|safe }}</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row">
                    
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-success" name="SaveNext" value="Save & Next">
                        <input type="submit" class="btn btn-success" name="SaveNew" value="Save & New">
                        <input type="submit" class="btn btn-success" name="Skip" value="Skip">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    
    <div class="grid simple">
        <div class="grid-title no-border">
            <h4>Content List</h4>
        </div>
        <div class="grid-body no-border">
            <sortable-list :data="{{ contentList }}" :courseId="{{ course_id }}"></sortable-list>
        </div>        
    </div>
</div>