<div class="col-md-8">
    <div class="grid simple">
        <div class="grid-title no-border">
            <h4>Basic Information</h4>
        </div>
        <div class="grid-body no-border">
            <form style="width: 100%;" role="form" enctype="multipart/form-data" 
                  method="POST" action="{% if course_id is not None %}{% url 'admin-course-edit' course_id %}{% else %}{% url 'admin-courses-create' %}{% endif%}" 
                  class="simple_form form-horizontal">
                {% csrf_token %}
                {% if course_id is not None %}
                    <input type="hidden" name="_method" value="PUT">
                {% endif%}
                <input type="hidden" name="tags[]" :value="tags" id="course_tags">

                <div class="form-group{% if course.name.errors %} has-error{% endif %} string required corporation_title">
                    <label class="string required col-sm-2 control-label" for="course_{{course.name.name}}">Name <abbr>*</abbr></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="course_{{course.name.name}}" name="{{ course.name.name }}" value="{% if course.name.value is not None %} {{ course.name.value }} {% endif %}">
                        {% if course.name.errors %}
                            {% for error in course.name.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            {% if course.name.help_text %}
                                <span class="help-block">{{ course.name.help_text|safe }}</span>
                            {% endif %}
                        {% else %}
                            {% if course.name.help_text %}
                                <span class="help-block">{{ course.name.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{% if course.slug.errors %} has-error{% endif %} string required corporation_title">
                    <label class="string required col-sm-2 control-label" for="course_{{course.slug.name}}">Slug <abbr>*</abbr></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="course_{{course.slug.name}}" name="{{ course.slug.name }}" value="{% if course.slug.value is not None %} {{ course.slug.value }} {% endif %}">
                        {% if course.slug.errors %}
                            {% for error in course.slug.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            <!-- {% if course.slug.help_text %}
                                <span class="help-block">{{ course.slug.help_text|safe }}</span>
                            {% endif %} -->
                        {% else %}
                            {% if course.slug.help_text %}
                                <span class="help-block">{{ course.slug.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{% if course.descr.errors %} has-error{% endif %} string required corporation_title">
                    <label class="string required col-sm-2 control-label" for="course_{{course.descr.name}}">Description <abbr>*</abbr></label>
                    <div class="col-sm-10">
                        <textarea rows="15" class="text-editor form-control" id="course_{{course.descr.name}}" name="{{ course.descr.name }}">{% if course.descr.value is not None %} {{ course.descr.value }} {% endif %}</textarea>
                        {% if course.descr.errors %}
                            {% for error in course.descr.errors %}
                                <span class="help-block">{{ error|escape }}</span>
                            {% endfor %}
                            {% if course.descr.help_text %}
                                <span class="help-block">{{ course.descr.help_text|safe }}</span>
                            {% endif %}
                        {% else %}
                            {% if course.descr.help_text %}
                                <span class="help-block">{{ course.descr.help_text|safe }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group{% if course.instructor.errors %} has-error{% endif %} string required corporation_title">
                            <label class="string required col-sm-4 control-label" for="course_{{course.instructor.name}}">Instructor <abbr>*</abbr></label>
                            <div class="col-sm-8">
                                <select name="{{ course.instructor.name }}" id="course_{{course.instructor.name}}">
                                    {% for choice in course.instructor.field.choices %}
                                        <option value="{{choice.0}}" {% if choice.0|stringformat:"s" == course.instructor.value|stringformat:"s" %} selected="selected"{% endif %}>{{choice.1}}</option>
                                    {% endfor %}
                                </select>
                                {% if course.instructor.errors %}
                                    {% for error in course.instructor.errors %}
                                        <span class="help-block">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% if course.instructor.help_text %}
                                        <span class="help-block">{{ course.instructor.help_text|safe }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if course.instructor.help_text %}
                                        <span class="help-block">{{ course.instructor.help_text|safe }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if course.status.errors %} has-error{% endif %} string required corporation_title">
                            <label class="string required col-sm-4 control-label" for="course_{{course.status.name}}">Status <abbr>*</abbr></label>
                            <div class="col-sm-8">
                                <select name="{{ course.status.name }}" id="course_{{course.status.name}}">
                                    {% for choice in course.status.field.choices %}
                                        <option value="{{choice.0}}" {% if choice.0|stringformat:"s" == course.status.value|stringformat:"s" %} selected="selected"{% endif %}>{{choice.1}}</option>
                                    {% endfor %}
                                </select>
                                {% if course.status.errors %}
                                    {% for error in course.status.errors %}
                                        <span class="help-block">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% if course.status.help_text %}
                                        <span class="help-block">{{ course.status.help_text|safe }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if course.status.help_text %}
                                        <span class="help-block">{{ course.status.help_text|safe }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if course.level.errors %} has-error{% endif %} string required corporation_title">
                            <label class="string required col-sm-4 control-label" for="course_{{course.level.name}}">Level <abbr>*</abbr></label>
                            <div class="col-sm-8">
                                <select name="{{ course.level.name }}" id="course_{{course.level.name}}">
                                    {% for choice in course.level.field.choices %}
                                        <option value="{{choice.0}}" {% if choice.0|stringformat:"s" == course.level.value|stringformat:"s" %} selected="selected"{% endif %}>{{choice.1}}</option>
                                    {% endfor %}
                                </select>
                                {% if course.level.errors %}
                                    {% for error in course.level.errors %}
                                        <span class="help-block">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% if course.level.help_text %}
                                        <span class="help-block">{{ course.level.help_text|safe }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if course.level.help_text %}
                                        <span class="help-block">{{ course.level.help_text|safe }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if course.name.errors %} has-error{% endif %} string required corporation_title">
                            <label class="string required col-sm-4 control-label" for="{{course.age_access.name}}">Age Access <abbr>*</abbr></label>
                            <div class="col-sm-8">
                                <select name="{{ course.age_access.name }}" id="course_{{course.age_access.name}}">
                                    {% for choice in course.age_access.field.choices %}
                                        <option value="{{choice.0}}" {% if choice.0|stringformat:"s" == course.age_access.value|stringformat:"s" %} selected="selected"{% endif %}>{{choice.1}}</option>
                                    {% endfor %}
                                </select>
                                {% if course.age_access.errors %}
                                    {% for error in course.age_access.errors %}
                                        <span class="help-block">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% if course.age_access.help_text %}
                                        <span class="help-block">{{ course.age_access.help_text|safe }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if course.age_access.help_text %}
                                        <span class="help-block">{{ course.age_access.help_text|safe }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if course.has_offer.errors %} has-error{% endif %} string required corporation_title">
                            <div class="col-sm-offset-4 col-sm-8">
                                <input type="checkbox" name="{{course.has_offer.name}}" id="course_{{course.has_offer.name}}" v-model="hasOffer"> <span class="semi-bold">Has Offer</span>
                                {% if course.has_offer.errors %}
                                    {% for error in course.has_offer.errors %}
                                        <span class="help-block">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% if course.has_offer.help_text %}
                                        <span class="help-block">{{ course.has_offer.help_text|safe }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if course.has_offer.help_text %}
                                        <span class="help-block">{{ course.has_offer.help_text|safe }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <file-prev :fileprevdata="{type:'image',label:'Cover',name:'cover', errors:'{{course.cover.errors}}',src:'{% if course.instance.pk %}{{ course.instance.cover.url }}{% else %}{% endif %}'}"></file-prev>
                    </div>
                </div>
                
                <template v-if="hasOffer">
                    <fieldset class="p-t-25 p-r-25 p-b-25 p-l-25 m-b-25" style="border:double 1px rgb(129, 177, 129);border-radius: 25px">
                        <legend style="padding:5px 0 5px 25px !important; border:double 1px rgb(129, 177, 129);border-radius: 25px">Offer</legend>
                        <div class="row" >
                                <div class="form-group{% if course.offer_discount_perc.errors %} has-error{% endif %} string required corporation_title">
                                    <label class="string required col-sm-2 control-label" for="course_{{course.offer_discount_perc.name}}">Discount Percentage </label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="{{course.offer_discount_perc.name}}" id="course_{{course.offer_discount_perc.name}}">
                                        {% if course.offer_discount_perc.errors %}
                                            {% for error in course.offer_discount_perc.errors %}
                                                <span class="help-block">{{ error|escape }}</span>
                                            {% endfor %}
                                            {% if course.offer_discount_perc.help_text %}
                                                <span class="help-block">{{ course.offer_discount_perc.help_text|safe }}</span>
                                            {% endif %}
                                        {% else %}
                                            {% if course.offer_discount_perc.help_text %}
                                                <span class="help-block">{{ course.offer_discount_perc.help_text|safe }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group{% if course.offer_start_date.errors %} has-error{% endif %} string required corporation_title">
                                    <label class="string required col-sm-2 control-label" for="course_{{course.offer_start_date.name}}">Start Date </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control date-field" name="{{course.offer_start_date.name}}" id="course_{{course.offer_start_date.name}}" size="30">
                                        {% if course.offer_start_date.errors %}
                                            {% for error in course.offer_start_date.errors %}
                                                <span class="help-block">{{ error|escape }}</span>
                                            {% endfor %}
                                            {% if course.offer_start_date.help_text %}
                                                <span class="help-block">{{ course.offer_start_date.help_text|safe }}</span>
                                            {% endif %}
                                        {% else %}
                                            {% if course.offer_start_date.help_text %}
                                                <span class="help-block">{{ course.offer_start_date.help_text|safe }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group{% if course.offer_end_date.errors %} has-error{% endif %} string required corporation_title">
                                    <label class="string required col-sm-2 control-label" for="course_{{course.offer_end_date.name}}">End Date </label>
                                    <div class="col-sm-10">
                                        <date-picker :class="'form-control'" :name="'{{course.offer_end_date.name}}'" :id="'course_{{course.offer_end_date.name}}'"></date-picker>
                                        <!-- <input type="text" class="form-control" name="{{course.offer_end_date.name}}" id="course_{{course.offer_end_date.name}}"> -->
                                        {% if course.offer_end_date.errors %}
                                            {% for error in course.offer_end_date.errors %}
                                                <span class="help-block">{{ error|escape }}</span>
                                            {% endfor %}
                                            {% if course.offer_end_date.help_text %}
                                                <span class="help-block">{{ course.offer_end_date.help_text|safe }}</span>
                                            {% endif %}
                                        {% else %}
                                            {% if course.offer_end_date.help_text %}
                                                <span class="help-block">{{ course.offer_end_date.help_text|safe }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </template>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-ok"></i> Save & Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <meta-data></meta-data>
</div>