<div class="col-md-12">
    <div class="grid simple">
        <div class="grid-title no-border">
            <h4>Basic Information</h4>
        </div>
        <div class="grid-body no-border">
            <form style="width: 100%;" role="form" enctype="multipart/form-data" method="POST" action="{% url 'admin-materials-create' course_id %}" class="simple_form form-horizontal">
                {% csrf_token %}
                {% if course_id %}
                    <input type="hidden" value="{{ course_id }}" name="course">
                {% elif request.GET.id %}
                    <input type="hidden" value="{{ request.GET.id }}" name="course">
                {% endif %}
                <div class="row">
                    <div class="col-md-6 form-group{% if material.name.errors %} has-error{% endif %} string required corporation_title">
                        <label class="string required col-md-2 control-label" for="material_{{material.name.name}}">Name <abbr>*</abbr></label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="material_{{material.name.name}}" name="{{ material.name.name }}">
                        </div>
                    </div>
                    <div class="col-md-6 form-group{% if material.file.errors %} has-error{% endif %} string required corporation_title">
                        <label class="string required col-md-3 control-label" for="material_{{material.file.name}}">file <abbr>*</abbr></label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" name="{{ material.file.name }}" id="material_{{material.file.name}}">
                        </div>
                    </div>    
                </div> 
                <input type="hidden" name="size" id="material_size">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group{% if material.of.errors %} has-error{% endif %} string required corporation_title">
                            <label class="col-md-2 string required control-label" for="material_{{material.of.name}}">Of <abbr>*</abbr></label>
                            <div class="col-md-10">
                                <select name="{{material.of.name}}" id="material_{{material.of.name}}" style="width: 100% !important" v-model="selectedOf" class="form-control">
                                    {% for choice in material.of.field.choices %}
                                        <option value="{{choice.0}}" {% if choice.0|stringformat:"s" == material.of.value %} selected{% endif %}>{{choice.1}}</option>
                                    {% endfor %}
                                </select>
                                <span>{{selectedOf}}</span>
                                {% if material.of.errors %}
                                    {% for error in material.of.errors %}
                                        <span class="help-block">{{ error|escape }}</span>
                                    {% endfor %}
                                    {% if material.of.help_text %}
                                        <span class="help-block">{{ material.of.help_text|safe }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if material.of.help_text %}
                                        <span class="help-block">{{ material.of.help_text|safe }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <template v-if="selectedOf == 'Content'">
                        <div class="col-md-6" >
                            <select name="material_content" id="material_content">
                                {% for content in contents %}
                                    <option value="content">{{content.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </template>
                </div>    
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" name="SaveFinish" value="Save & Finish">
                        <input type="submit" class="btn btn-success" name="SaveNew" value="Save & New">
                        <input type="submit" class="btn btn-success" name="Finish" value="Finish">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>