{% extends 'zedny_admin/base_no_side.html' %}
{% load static %}

{% block content %}
    <div class="padding">
        <div class="navbar">
            <div class="pull-center">
                <!-- brand -->
                <a href="index.html" class="navbar-brand">
                    <div data-ui-include="'{% static 'zedny_admin/images/logo.svg' %}'"></div>
                    <img src="{% static 'zedny_admin/images/logo.png' %}" alt="." class="hide">
                    <span class="hidden-folded inline"></span>
                </a>
                <!-- / brand -->
            </div>
        </div>
    </div>
    <div class="b-t">
        <div class="center-block w-xxl w-auto-xs p-y-md text-center">

        {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

            <div class="p-a-md">
                <form name="form" action="" method="post">
                {% csrf_token %}
                    <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                        <input type="email" name="email" class="form-control"
                               placeholder="Email" required>
                        {% if form.email.errors %}
                            <span class="help-block">
                                    <ol>
                                        {% for error in form.email.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        {% if form.email.help_text %}
                                            <li class="help">{{ form.email.help_text|safe }}</li>
                                        {% endif %}
                                    </ol>
                                    </span>
                        {% else %}
                            {% if form.email.help_text %}
                                <span class="help-block">
                                            <p class="help">{{ form.email.help_text|safe }}</p>
                                        </span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                        <input type="password" name="password"
                               class="form-control" placeholder="password" required>
                    </div>
                    <div class="m-b-md">
                        <label class="md-check">
                            <input type="checkbox"><i class="primary"></i> Keep me signed in
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg black p-x-lg">Sign in</button>
                </form>
                <div class="m-y">
                    <a href="forgot-password.html" class="_600">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}