{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="page-content">
    <div class="content">
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#" class="active">Create</a>
            </li>
        </ul>

        <!-- Content -->
        <div class="row" style="text-align:center">
            <div class="col-md-12">
                <br> <br>
                <form id="commentForm" style="width: 100%;"
                      role="form" enctype="multipart/form-data"
                      method="POST" action=""
                      class="simple_form form-horizontal">
                    {% csrf_token %}

<h2>
                        Basic Information:
                    </h2>
                    {% bootstrap_field form.fname label='First Name' layout='horizontal' %}
                    {% bootstrap_field form.lname label='Last Name' layout='horizontal' %}
                    {% bootstrap_field form.email label='Email' layout='horizontal' %}

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="pwd">Password</label>
                        <div class="col-md-9">
                            <input placeholder="Enter Password here!" type="password" name="password" class="form-control" id="pwd">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-md-2 control-label" for="dob">Date of birth</label>
                        <div class="col-md-9">
                            <input type="date" value="1993-07-25" name="date_of_birth" class="form-control" id="dob">
                        </div>
                    </div>
                    <hr>
                    <h2>
                        Other Information:
                    </h2>
                    {% bootstrap_field form.facebook_id label='Facebook ID' layout='horizontal' %}
                    {% bootstrap_field form.parent label='Parent Account' layout='horizontal' %}
                    {% bootstrap_field form.age_access label='Age Access' layout='horizontal' %}
                    {% bootstrap_field form.institution label='Institution' layout='horizontal' %}
                    {% bootstrap_field form.accountType label='Account Type' layout='horizontal' %}
                    {% bootstrap_field form.gender label='Gender' layout='horizontal' %}
                    {% bootstrap_field form.img label='Image' layout='horizontal' %}
                    {% bootstrap_field form.roles label='Roles' layout='horizontal' %}

                    {% buttons %}
                    <button type="submit" class="btn btn-primary">

                        {% bootstrap_icon "ok" %} Submit
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}