{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        {% include 'zedny_admin/tiles/modal_portal_config.html' %}

        <div class="content">
            <!-- Filters -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4>Filters <span class="semi-bold"></span></h4>
                            <div class="tools">
                                <a href="javascript:;" class="expand"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border" style="display: none;">
                            <form class="form-no-horizontal-spacing" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <input name="form3FirstName" type="text" class="form-control"
                                               placeholder="Title"
                                               aria-required="true" aria-invalid="true"
                                               aria-describedby="form3Title-error">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            {#                            <h4>Users <span class="semi-bold"></span></h4>#}
                            <div class="tools">
                                {#                                <a href="javascript:;" class="collapse"></a>#}
{#                                                                <a href="#grid-config" data-toggle="modal" class="config"></a>#}
                                <a class="btn btn-link pull-right" href="{% url 'admin-users-create' %}"><i
                                        class="glyphicon glyphicon-plus"></i> Add New</a>
                                {#                                <a href="javascript:;" class="reload"></a>#}
                                {#                                <a href="javascript:;" class="remove"></a>#}
                            </div>
                        </div>
                        <div class="grid-body no-border">
                            <h3>Users <span class="semi-bold"></span></h3>
                            <table class="table no-more-tables">
                                <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Account Type</th>
                                    <th>Gender</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr>
                                    <td class="v-align-middle"> <a href="{% url 'admin-user-update' user.id %}"> {{user.fname}} {{user.lname}}</a></td>
                                    <td class="v-align-middle">{{user.email}}</td>
                                    <td class="v-align-middle"><span class="muted">{{user.accountType}}</span>                                    </td>

                                    <td class="v-align-middle">{{user.gender}}</td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
