{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
    <div class="page-content">
        <div class="content">
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li>
                    <a href="#">Role</a>
                </li>
                <li>
                    <a href="#" class="active">Create</a>
                </li>
            </ul>

            <!-- Content -->
            <div class="row" style="text-align:center">
                <div class="col-md-12">
                    <br> <br>

                    <form id="commentForm" style="width: 100%;"
                          role="form" enctype="multipart/form-data"
                          method="POST" action=""
                          class="simple_form form-horizontal">
                    {% csrf_token %}
                                                <h2>Basic Info</h2>

                                                {% bootstrap_form form layout='horizontal' %}
                        <div style="text-align:center">

                        <h2>Permissions</h2>
                            <div class="row">


                            <div class="col-md-12">

                        <select class="form-control" multiple="multiple" id="my-select" name="permissions[]">
                            {% for target in targets.values %}
                            {% for action in actions.values %}
                             <option value='{{target}}|{{action}}'>{{target}}|{{action}}</option>
                            {% endfor %}
                            {% endfor %}
    </select>
                        </div>
                            </div>
                            </div>


<br>
            {% buttons %}
        <button type="submit" class="btn btn-primary">

            {% bootstrap_icon "ok" %} Submit
        </button>

    {% endbuttons %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
