{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
    <div class="page-content">
        <div class="content">
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li>
                    <a href="#">User Role</a>
                </li>
                <li>
                    <a href="#" class="active">Create</a>
                </li>
            </ul>

            <!-- Content -->
            <div class="row" style="text-align:center">
                <div class="col-md-12">
                    <form id="commentForm" style="width: 100%;"
                          role="form" enctype="multipart/form-data"
                          method="POST" action=""
                          class="simple_form form-horizontal">
                    {% csrf_token %}
                          {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">

            {% bootstrap_icon "ok" %} Submit
        </button>
    {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}