{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <div class="page-content">
        <div class="content">
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li>
                    <a href="#">Exam</a>
                </li>
                <li>
                    <a href="#" class="active">Create</a>
                </li>
            </ul>

            <!-- Content -->
            <div class="row">
                <div class="col-md-12">
                    <form id="commentForm" style="width: 100%;"
                          role="form" enctype="multipart/form-data"
                          method="POST" action=""
                          class="simple_form form-horizontal">

                        {% csrf_token %}

                        <div id="rootwizard" class="col-md-12">
                            <!-- Wizard Steps -->
                            <div class="form-wizard-steps" style="margin-bottom: 15px;">
                                <ul class="wizard-steps form-wizard" style="width: 100%;">
                                    <li class="active" data-target="#step1" style="min-width: 33%;">
                                        <a href="#tab1" data-toggle="tab" aria-expanded="true">
                                            <span class="step">1</span>
                                            <span class="title">Basic information</span>
                                        </a>
                                    </li>
                                    <li data-target="#step2" style="min-width: 33%;">
                                        <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                            <span class="step">2</span>
                                            <span class="title">Questions</span>
                                        </a>
                                    </li>
                                    <li data-target="#step3" style="min-width: 33%;">
                                        <a href="#tab4" data-toggle="tab" aria-expanded="false">
                                            <span class="step">3</span>
                                            <span class="title">Preview
                                        <br>
                                    </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content transparent">
                                <div class="tab-pane active" id="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid simple">
                                                <div class="grid-title no-border">
                                                    <h4>Create
                                                        <span class="semi-bold">Exams</span>
                                                    </h4>
                                                    <div class="tools hide">
                                                        <a href="javascript:;" class="collapse"></a>
                                                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                        <a href="javascript:;" class="reload"></a>
                                                        <a href="javascript:;" class="remove"></a>
                                                    </div>
                                                </div>

                                                <div class="grid-body no-border">
                                                    <br>
                                                    <div class="row">

                                                        {{ form.non_field_errors }}
                                                        {# {{ form.errors }}#}

                                                        {% bootstrap_field form.name value=name layout='horizontal' horizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}
                                                        {% bootstrap_field form.descr value=descr layout='horizontal' horizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}
                                                        {% bootstrap_field form.type value=type layout='horizontal' horizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}
                                                        {% bootstrap_field form.level value=level layout='horizontal' horizontal_label_class='col-md-3' horizontal_field_class='col-md-9' %}

                                                        {# {% bootstrap_form form  layout='horizontal' %}#}
                                                        <div class="col-md-12">
                                                            <div class="form-actions">
                                                                <div class="pull-right">
                                                                    <button class="btn btn-success btn-cons"
                                                                            type="submit">
                                                                        <i class="icon-ok"></i> Save
                                                                    </button>
                                                                    <button class="btn btn-white btn-cons"
                                                                            type="button">
                                                                        Cancel
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}