{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="content">
            <ul class="breadcrumb">
                <li>
                    <p>YOU ARE HERE</p>
                </li>
                <li>
                    <a href="#">Exam</a>
                </li>
                <li>
                    <a href="#" class="active">Create</a>
                </li>
            </ul>

            <!-- Content -->
            <div class="row">
                <div class="col-md-12">
                    <form id="commentForm" style="width: 100%;"
                          role="form" enctype="multipart/form-data"
                          method="POST" action=""
                          class="simple_form form-horizontal">

                    {% csrf_token %}

                        <div id="rootwizard" class="col-md-12">
                            <!-- Wizard Steps -->
                            <div class="form-wizard-steps" style="margin-bottom: 15px;">
                                <ul class="wizard-steps form-wizard" style="width: 100%;">
                                    <li class="active" data-target="#step1" style="min-width: 33%;">
                                        <a href="#tab1" data-toggle="tab" aria-expanded="true">
                                            <span class="step">1</span>
                                            <span class="title">Basic information</span>
                                        </a>
                                    </li>
                                    <li data-target="#step2" style="min-width: 33%;">
                                        <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                            <span class="step">2</span>
                                            <span class="title">Questions</span>
                                        </a>
                                    </li>
                                    <li data-target="#step3" style="min-width: 33%;">
                                        <a href="#tab4" data-toggle="tab" aria-expanded="false">
                                            <span class="step">3</span>
                                            <span class="title">Preview
                                        <br>
                                    </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content transparent">
                                <div class="tab-pane active" id="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="grid simple">
                                                <div class="grid-title no-border">
                                                    <h4>Create
                                                        <span class="semi-bold">Exams</span>
                                                    </h4>
                                                    <div class="tools hide">
                                                        <a href="javascript:;" class="collapse"></a>
                                                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                        <a href="javascript:;" class="reload"></a>
                                                        <a href="javascript:;" class="remove"></a>
                                                    </div>
                                                </div>

                                                <div class="grid-body no-border">
                                                    <br>
                                                    <div class="row">

                                                    {{ form.non_field_errors }}
                                                    {{ form.errors }}

                                                        <div class="form-group {% if form.name.errors %} has-error {% endif %} string required corporation_title">
                                                            <label class="string required col-sm-2 control-label"
                                                                   for="corporation_title"><abbr
                                                                    title="verplicht">*</abbr> Titel</label>
                                                            <div class="col-sm-10">
                                                                {{ form.name }}

                                                                {% if form.name.errors %}
                                                                    {% for error in form.name.errors %}
                                                                        <span class="help">{{ error|escape }}</span>#}
                                                                    {% endfor %}
                                                                    {% if form.name.help_text %}
                                                                        <span class="help">{{ form.name.help_text|safe }}</span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if form.name.help_text %}
                                                                        <span class="help">{{ form.name.help_text|safe }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>

                                                        <div class="form-group string required corporation_title">
                                                            <label class="string required col-sm-2 control-label"
                                                                   for="corporation_title"><abbr
                                                                    title="verplicht">*</abbr> Description</label>
                                                            <div class="col-sm-10">
                                                                {{ form.descr }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group {% if form.type.errors %} has-error {% endif %} required">
                                                            <label class="string required col-sm-2 control-label"
                                                                   for="type"><abbr
                                                                    title="verplicht">*</abbr> Questions Type</label>
                                                            <div class="col-sm-10">
                                                            {{ form.type }}
                                                                {% if form.type.errors %}
                                                                    {% for error in form.type.errors %}
                                                                        <span class="help">{{ error|escape }}</span>#}
                                                                    {% endfor %}
                                                                    {% if form.name.help_text %}
                                                                        <span class="help">{{ form.type.help_text|safe }}</span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if form.type.help_text %}
                                                                        <span class="help">{{ form.type.help_text|safe }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>

                                                    <div class="form-group {% if form.level.errors %} has-error {% endif %} required">
                                                            <label class="string required col-sm-2 control-label"
                                                                   for="level"><abbr
                                                                    title="verplicht">*</abbr> Level</label>
                                                            <div class="col-sm-10">
                                                                {{ form.level }}
                                                                {% if form.level.errors %}
                                                                    {% for error in form.level.errors %}
                                                                        <span class="help">{{ error|escape }}</span>#}
                                                                    {% endfor %}
                                                                    {% if form.level.help_text %}
                                                                        <span class="help">{{ form.level.help_text|safe }}</span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if form.level.help_text %}
                                                                        <span class="help">{{ form.level.help_text|safe }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <button type="submit" class="btn btn-success">
                                                                    <i class="icon-ok"></i> Save & Next
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}