{% extends 'zedny_admin/base.html' %}
{% load static %}

{% block content %}
    <div class="page-content">
        {% include 'zedny_admin/tiles/modal_portal_config.html' %}

        <div class="content">
            <!-- Filters -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4>Filters <span class="semi-bold"></span></h4>
                            <div class="tools">
                                <a href="javascript:;" class="expand"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border" style="display: none;">
                            <form class="form-no-horizontal-spacing" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <input name="form3FirstName" type="text" class="form-control"
                                               placeholder="Title"
                                               aria-required="true" aria-invalid="true"
                                               aria-describedby="form3Title-error">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            {#                            <h4>Exams <span class="semi-bold"></span></h4>#}
                            <div class="tools">
                                {#                                <a href="javascript:;" class="collapse"></a>#}
                                {#                                                                <a href="#grid-config" data-toggle="modal" class="config"></a>#}
                                <a class="btn btn-link pull-right" href="{% url 'admin-exams-create' %}"><i
                                        class="glyphicon glyphicon-plus"></i> Add New</a>
                                {#                                <a href="javascript:;" class="reload"></a>#}
                                {#                                <a href="javascript:;" class="remove"></a>#}
                            </div>
                        </div>
                        <div class="grid-body no-border">
                            <h3>Exams <span class="semi-bold"></span></h3>
                            <table class="table no-more-tables">
                                <thead>
                                <tr>
                                    <th style="width:1%">
                                        <div class="checkbox check-default">
                                            <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                            <label for="checkbox10"></label>
                                        </div>
                                    </th>
                                    <th style="width:9%">Title</th>
                                    <th style="width:22%">Course</th>
                                    <th style="width:6%">Type</th>
                                    <th style="width:10%">Level</th>
                                    <th style="width:10%">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox check-default">
                                                <input id="checkbox11" type="checkbox" value="1">
                                                <label for="checkbox11"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle">{{  item.name }}</td>
                                        <td class="v-align-middle"><span class="muted">{{ item.course }}</span>
                                        </td>
                                        <td><span class="muted">{{ item.type }}</span></td>
                                        <td>{{ item.level }}</td>
                                        <td>
                                            <div class="btn-group-xs">
                                                <a href = "{% url 'admin-exam-questions-edit' item.id %}" class="btn btn-white">Edit</a>
                                                <a href = "{% url 'admin-exam-delete' item.id %}" class="btn btn-white">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
