{% extends 'zedny_admin/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load extras %}
{% block content %}
<div class="page-content">
    <div class="content">
        <ul class="breadcrumb">
            <li>
                <p>YOU ARE HERE</p>
            </li>
            <li>
                <a href="#">Exam</a>
            </li>
            <li>
                <a href="#">Questions</a>
            </li>
            <li>
                <a href="#" class="active">Create</a>
            </li>
        </ul>

        <!-- Content -->
        <div class="row">
            <!-- Wizard -->
            <div class="col-md-12">
                <form id="commentForm" style="width: 100%;" action="#" class="simple_form">
                    <div id="rootwizard" class="col-md-12">
                        <!-- Wizard Steps -->
                        <div class="form-wizard-steps" style="margin-bottom: 15px;">
                            <ul class="wizard-steps form-wizard" style="width: 100%;">
                                <li data-target="#step1" style="min-width: 33%;">
                                    <a href="#tab1" data-toggle="tab" aria-expanded="false">
                                        <span class="step">1</span>
                                        <span class="title">Basic information</span>
                                    </a>
                                </li>
                                <li class="active" data-target="#step2" style="min-width: 33%;">
                                    <a href="#tab2" data-toggle="tab" aria-expanded="true">
                                        <span class="step">2</span>
                                        <span class="title">Questions</span>
                                    </a>
                                </li>
                                <li data-target="#step3" style="min-width: 33%;">
                                    <a href="#tab4" data-toggle="tab" aria-expanded="false">
                                        <span class="step">3</span>
                                        <span class="title">Preview
                                        <br>
                                    </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-content transparent">
                            <div class="tab-pane active" id="tab1"></div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Page content No Data -->
            <div class="col-md-12 {% if questions %} hide {%endif%} ">
                <div class="grid simple transparent ">
                    <div class="grid-body no-border">
                        <div class="text-center">
                            <img class="img-responsive"
                                 style="width: 200px; margin-left: auto; margin-right: auto; display: block;"
                                 src="{% static '/zedny_admin/assets/img/no_data.svg' %}"/>
                            <h4 class="text-muted">No Questions Found</h4>
                        </div>
                        <br/>
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-block btn-dark"
                                    data-toggle="modal"  data-target="#create_quest">
                                <i lass="glyphicon glyphicon-plus"></i> Add First Question
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Page Content Existed Data -->


                        {% if exam.type == "MCQ" or exam.type == "Complete" %}
                        {% with "zedny_admin/exams/question/MCQ.html" as formTemplate %}
                        {% include formTemplate %}
                        {% endwith%}
                        {%endif%}

                        {% if exam.type == "Matching" %}
                        {% with "zedny_admin/exams/question/matching.html" as formTemplate %}
                        {% include formTemplate %}
                        {% endwith%}
                        {%endif%}


            <!--create-->
            {% with "zedny_admin/exams/question/create_quest.html" as formTemplate %}
            {% include formTemplate %}
            {% endwith%}
            <!--edit-->
            {% with "zedny_admin/exams/question/edit_quest.html" as formTemplate %}
            {% include formTemplate %}
            {% endwith%}
        </div>
    </div>
</div>


<!--handlebars templete-->
{% with "zedny_admin/exams/question/handlebars_templetes.html" as formTemplate %}
{% include formTemplate %}
{% endwith%}

{% endblock %}

{% block scripts %}
<script src="{% static 'zedny_admin/assets/js/exam/MCQ.js' %}" type="text/javascript"></script>
<script src="{% static 'zedny_admin/assets/js/exam/Matching.js' %}" type="text/javascript"></script>
{% endblock %}