{% load static %}
<div class="page-sidebar " id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <div class="user-info-wrapper sm">
            <div class="profile-wrapper sm">
                <img src="{% static 'zedny_admin/assets/img/profiles/avatar.jpg' %}" alt="" data-src="{% static 'zedny_admin/assets/img/profiles/avatar.jpg' %}"
                     data-src-retina="{% static 'zedny_admin/assets/img/profiles/avatar2x.jpg' %}" width="69" height="69"/>
                <div class="availability-bubble online"></div>
            </div>
            <div class="user-info sm">
                <div class="username">Fred <span class="semi-bold">Smith</span></div>
                <div class="status">Life goes on...</div>
            </div>
        </div>
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i
                class="material-icons">refresh</i></a></span></p>
        <ul>
            <li>
                <a href="{% url 'admin-courses-index' %}">
                    <i class="material-icons">class</i>
                    <span class="title">Courses</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-exams-index' %}">
                    <i class="material-icons">assignment</i>
                    <span class="title">Exams</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admin-categories-index' %}">
                    <i class="material-icons">category</i>
                    <span class="title">Categories & Tags</span>
                </a>
            </li>

            <li class="hidden-lg hidden-md hidden-xs" id="more-widgets">
                <a href="javascript:;"> <i class="material-icons"></i></a>
                <ul class="sub-menu">
                    <li class="side-bar-widgets">
                        <p class="menu-title sm">FOLDER <span class="pull-right"><a href="#"
                                                                                    class="create-folder"><i
                                class="material-icons">add</i></a></span></p>
                        <ul class="folders">
                            <li>
                                <a href="#">
                                    <div class="status-icon green"></div>
                                    My quick tasks </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="status-icon red"></div>
                                    To do list </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="status-icon blue"></div>
                                    Projects </a>
                            </li>
                            <li class="folder-input" style="display:none">
                                <input type="text" placeholder="Name of folder" class="no-boarder folder-name"
                                       name="" id="folder-name">
                            </li>
                        </ul>
                        <p class="menu-title">PROJECTS </p>
                        <div class="status-widget">
                            <div class="status-widget-wrapper">
                                <div class="title">Freelancer<a href="#" class="remove-widget"><i
                                        class="material-icons">close</i></a></div>
                                <p>Redesign home page</p>
                            </div>
                        </div>
                        <div class="status-widget">
                            <div class="status-widget-wrapper">
                                <div class="title">envato<a href="#" class="remove-widget"><i
                                        class="material-icons">close</i></a></div>
                                <p>Statistical report</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="side-bar-widgets">
            <p class="menu-title sm">FOLDER <span class="pull-right"><a href="#" class="create-folder"> <i
                    class="material-icons">add</i></a></span></p>
            <ul class="folders">
                <li>
                    <a href="#">
                        <div class="status-icon green"></div>
                        My quick tasks </a>
                </li>
                <li>
                    <a href="#">
                        <div class="status-icon red"></div>
                        To do list </a>
                </li>
                <li>
                    <a href="#">
                        <div class="status-icon blue"></div>
                        Projects </a>
                </li>
                <li class="folder-input" style="display:none">
                    <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="">
                </li>
            </ul>
            <p class="menu-title">PROJECTS </p>
            <div class="status-widget">
                <div class="status-widget-wrapper">
                    <div class="title">Freelancer<a href="#" class="remove-widget"><i
                            class="material-icons">close</i></a>
                    </div>
                    <p>Redesign home page</p>
                </div>
            </div>
            <div class="status-widget">
                <div class="status-widget-wrapper">
                    <div class="title">envato<a href="#" class="remove-widget"><i
                            class="material-icons">close</i></a></div>
                    <p>Statistical report</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
</div>