{% extends 'zedny_admin/base.html' %}

{% block content %}

    <!-- content -->
  <div id="content" class="app-content box-shadow-z2 pjax-container" role="main">
    <div class="app-header hidden-lg-up black lt b-b">
          <div class="navbar" data-pjax>
                <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                  <i class="ion-navicon"></i>
                </a>
                <div class="navbar-item pull-left h5" id="pageTitle">Inbox</div>
                <!-- nabar right -->
                <ul class="nav navbar-nav pull-right">
                  <li class="nav-item dropdown pos-stc-xs">
                    <a class="nav-link" data-toggle="dropdown">
                      <i class="ion-android-search w-24"></i>
                    </a>
                    <div class="dropdown-menu text-color w-md animated fadeInUp pull-right">
                      <!-- search form -->
                      <form class="navbar-form form-inline navbar-item m-a-0 p-x v-m" role="search">
                        <div class="form-group l-h m-a-0">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search projects...">
                            <span class="input-group-btn">
                              <button type="submit" class="btn white b-a no-shadow"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>
                      </form>
                      <!-- / search form -->
                    </div>
                  </li>
                  <li class="nav-item dropdown pos-stc-xs">
                    <a class="nav-link clear" data-toggle="dropdown">
                      <i class="ion-android-notifications-none w-24"></i>
                      <span class="label up p-a-0 danger"></span>
                    </a>
                    <!-- dropdown -->
                    <div class="dropdown-menu pull-right w-xl animated fadeIn no-bg no-border no-shadow">
                        <div class="scrollable" style="max-height: 220px">
                          <ul class="list-group list-group-gap m-a-0">
                            <li class="list-group-item dark-white box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="images/a0.jpg" alt="..." class="w-40 img-circle">
                              </span>
                              <span class="clear block">
                                Use awesome <a href="#" class="text-primary">animate.css</a><br>
                                <small class="text-muted">10 minutes ago</small>
                              </span>
                            </li>
                            <li class="list-group-item dark-white box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="images/a1.jpg" alt="..." class="w-40 img-circle">
                              </span>
                              <span class="clear block">
                                <a href="#" class="text-primary">Joe</a> Added you as friend<br>
                                <small class="text-muted">2 hours ago</small>
                              </span>
                            </li>
                            <li class="list-group-item dark-white text-color box-shadow-z0 b">
                              <span class="pull-left m-r">
                                <img src="images/a2.jpg" alt="..." class="w-40 img-circle">
                              </span>
                              <span class="clear block">
                                <a href="#" class="text-primary">Danie</a> sent you a message<br>
                                <small class="text-muted">1 day ago</small>
                              </span>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <!-- / dropdown -->
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link clear" data-toggle="dropdown">
                      <span class="avatar w-32">
                        <img src="images/a3.jpg" class="w-full rounded" alt="...">
                      </span>
                    </a>
                    <div class="dropdown-menu w dropdown-menu-scale pull-right">
                      <a class="dropdown-item" href="profile.html">
                        <span>Profile</span>
                      </a>
                      <a class="dropdown-item" href="setting.html">
                        <span>Settings</span>
                      </a>
                      <a class="dropdown-item" href="app.inbox.html">
                        <span>Inbox</span>
                      </a>
                      <a class="dropdown-item" href="app.message.html">
                        <span>Message</span>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="docs.html">
                        Need help?
                      </a>
                      <a class="dropdown-item" href="signin.html">Sign out</a>
                    </div>
                  </li>
                </ul>
                <!-- / navbar right -->
          </div>
    </div>
    <div class="app-body">

<!-- ############ PAGE START-->

<div class="app-body-inner">
	<div class="row-col">
		<div class="col-xs-3 w modal fade aside aside-md" id="subnav">
			<div class="row-col black bg">
			  	<!-- header -->
			    <div class="box-shadow-z1">
			        <div class="navbar">
			        	<ul class="nav navbar-nav">
					        <li class="nav-item">
					          	<span class="navbar-item text-md">Inbox</span>
					        </li>
				        </ul>
				        <ul class="nav navbar-nav pull-right">
					        <li class="nav-item">
					          	<a class="nav-link" data-toggle="modal" data-target="#modal-new">
					            	<span class="btn btn-sm btn-icon rounded white"><i class="fa fa-plus"></i></span>
					            </a>
					        </li>
				        </ul>
				  	</div>
			    </div>
		      	<!-- / -->
		      	<!-- flex content -->
		      	<div class="row-row">
			      	<div class="row-body scrollable hover">
				      	<div class="row-inner">
					      	<!-- content -->
					      	<div class="navside m-x-xs m-t">
						      	<nav class="nav-stacked nav-stacked-rounded nav-active-info">
							        <ul class="nav" data-ui-nav>
									  	<li class="active">
										    <a href="#inbox">
										      	<span class="nav-label">
							                    	<b class="label primary rounded">12</b>
							                  	</span>
										      	<span class="nav-icon">
										        	<i class="ion-ios-filing"></i>
										      	</span>
										      	<span class="nav-text">Inbox</span>
										    </a>
									  	</li>
									  	<li>
										    <a href="#sent">
										      	<span class="nav-label">
							                    	<b class="label info rounded">4</b>
							                  	</span>
										      	<span class="nav-icon">
										        	<i class="ion-paper-airplane"></i>
										      	</span>
										      	<span class="nav-text">Sent</span>
										    </a>
									  	</li>
									  	<li>
										    <a href="#draft">
										      	<span class="nav-label">
							                    	<b class="label rounded">30</b>
							                  	</span>
										      	<span class="nav-icon">
										        	<i class="ion-clipboard"></i>
										      	</span>
										      	<span class="nav-text">Draft</span>
										    </a>
									  	</li>
									  	<li>
										    <a href="#trash">
										      	<span class="nav-label">
							                    	<b class="label rounded">6</b>
							                  	</span>
										      	<span class="nav-icon">
										        	<i class="ion-trash-b"></i>
										      	</span>
										      	<span class="nav-text">Trash</span>
										    </a>
									  	</li>
									</ul>
								</nav>
							</div>
							<div class="p-a-md">
						        <div class="m-b text-muted text-xs">Labels</div>
						        <div class="nav-active-white">
							        <ul class="nav">
							            <li class="nav-item m-b-xs">
							              	<a class="nav-link text-muted block">
							                	<span class="pull-right text-sm">23</span>
							                	<span>Html5</span>
							              	</a>
							            </li>
							            <li class="nav-item m-b-xs">
							              	<a class="nav-link text-muted block">
							                	<span class="pull-right text-sm">2</span>
							                	Bootstrap
							              	</a>
							            </li>
							            <li class="nav-item m-b-xs">
							              	<a class="nav-link text-muted block">
							                	<span class="pull-right text-sm">4</span>
							                	Client
							              	</a>
							            </li>
							            <li class="nav-item m-b-xs">
							              	<a class="nav-link text-muted block">
							                	<span class="pull-right text-sm">1</span>
							                	Work
							              	</a>
							            </li>
							        </ul>
						        </div>
						        <div class="p-y">
						          	<form name="label">
							            <div class="input-group">
							              	<input type="text" class="form-control form-control-sm" placeholder="New label" required>
							              	<span class="input-group-btn">
							                	<button class="btn btn-default btn-sm no-shadow" type="button"><i class="fa fa-plus"></i></button>
							              	</span>
							            </div>
						          	</form>
						        </div>
					        </div>
					        <!-- / -->
					    </div>
			      	</div>
			    </div>
		      	<!-- / -->
			    <!-- footer -->
			    <div class="p-x-md p-y">
			      	<div class="text-muted text-sm">
			      		<span class="pull-right text-primary">35%</span>
			      		<span>Status: </span>
			      	</div>
			    </div>
			    <!-- / -->
		    </div>
		</div>
		<div class="col-xs-3 w-xl modal fade aside aside-sm black" id="list">
			<div class="row-col lt">
				<!-- header -->
				<div class="p-a">
			      	<form>
			            <div class="input-group">
			              	<input type="text" class="form-control form-control-sm" placeholder="Search" required="">
			              	<span class="input-group-btn">
			                	<button class="btn btn-default btn-sm no-shadow" type="button"><i class="fa fa-search"></i></button>
			              	</span>
			            </div>
			        </form>
			    </div>
			    <!-- / -->
		      	<!-- flex content -->
		      	<div class="row-row">
			      	<div class="row-body scrollable hover">
				      	<div class="row-inner">
				      		<!-- left content -->
				      		<div class="list inset" data-ui-list="info">
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle green">
				      			            <img src="images/a2.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">09.04</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Jeremy Scott</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Submit a support ticket
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle pink">
				      			            <img src="images/a3.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">04.05</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Judith Garcia</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Eddel upload a media
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle blue-grey">
				      			            <img src="images/a4.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">09.05</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Radionomy</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Competitive gaming ladders
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle blue">
				      			            <img src="images/a9.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">02.04</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Postiljonen</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Looking for some client-work
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle cyan">
				      			            <img src="images/a8.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">02.04</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Pablo Nouvelle</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            It&#x27;s been a Javascript kind of day
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle brown">
				      			            <img src="images/a5.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">09.04</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Rita Ora</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Homepage mockup design
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle indigo">
				      			            <img src="images/a6.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">05.05</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Fifth Harmony</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Send you a invitation to SWO
				      			        </small>
				      			      </div>
				      			    </div>
				      			    <div class="list-item ">
				      			      <div class="list-left">
				      			        <span class="w-40 avatar circle grey">
				      			            <img src="images/a0.jpg" alt=".">
				      			        </span>
				      			      </div>
				      			      <div class="list-body">
				      			          <span class="pull-right text-xs text-muted">30.05</span>
				      			        <div class="item-title">
				      			          <a href="#" class="_500">Summerella</a>
				      			        </div>
				      			        <small class="block text-muted text-ellipsis">
				      			            Send you a message
				      			        </small>
				      			      </div>
				      			    </div>
				        	</div>
				        	<!-- / -->
				      	</div>
				    </div>
		      	</div>
		      	<!-- / -->
			    <!-- footer -->
			    <div class="p-x-md p-y">
			      	<div class="btn-group pull-right">
			            <a href="#" class="btn btn-xs white"><i class="fa fa-fw fa-angle-left"></i></a>
			            <a href="#" class="btn btn-xs white"><i class="fa fa-fw fa-angle-right"></i></a>
			        </div>
			      	<span class="text-sm text-muted">Total: 6</span>
			    </div>
			    <!-- / -->
		    </div>
		</div>
		<div class="col-xs-6 bg" id="detail">
			<div class="row-col">
				<!-- header -->
				<div class="white b-b bg">
					<div class="navbar">
					    <!-- nabar right -->
					    <ul class="nav navbar-nav pull-right m-l">
						    <li class="nav-item dropdown">
						        <a class="nav-link text-muted" href="#" data-toggle="dropdown">
						        	<i class="fa fa-ellipsis-h"></i>
						        </a>
						        <div class="dropdown-menu pull-right text-color" role="menu">
						          <a class="dropdown-item">
						          	<i class="fa fa-tag"></i>
						          	Tag item
						          </a>
						          <a class="dropdown-item">
						          	<i class="fa fa-pencil"></i>
						          	Edit item
						          </a>
						          <a class="dropdown-item">
						          	<i class="fa fa-trash"></i>
						          	Delete item
						          </a>
						          <div class="dropdown-divider"></div>
						          <a class="dropdown-item">
						          	<i class="fa fa-ellipsis-h"></i>
						          	More action
						          </a>
						        </div>
						    </li>
					    </ul>
					    <!-- / navbar right -->

						<a data-toggle="modal" data-target="#subnav" data-ui-modal class="navbar-item pull-left hidden-lg-up">
							<span class="btn btn-sm btn-icon blue">
					      		<i class="fa fa-th"></i>
					        </span>
					    </a>
					    <a data-toggle="modal" data-target="#list" data-ui-modal class="navbar-item pull-left hidden-md-up">
					    	<span class="btn btn-sm btn-icon white">
					      		<i class="fa fa-list"></i>
					      	</span>
					    </a>
					    <!-- link and dropdown -->
					    <ul class="nav navbar-nav">
					        <li class="nav-item">
						        <a class="nav-link text-muted" data-toggle="modal" data-target="#modal-new" title="Reply">
						            <span class="nav-text"><i class="fa fa-fw fa-mail-reply-all"></i></span>
						        </a>
					        </li>
					        <li class="nav-item b-l p-l">
						        <a class="nav-link text-muted no-border" data-toggle="tooltip" data-placement="bottom" title="Archive">
						            <span class="nav-text"><i class="fa fa-fw fa-hdd-o"></i></span>
						        </a>
					        </li>
					        <li class="nav-item hidden-sm-down">
						        <a class="nav-link text-muted" data-toggle="tooltip" data-placement="bottom" title="Report">
						            <span class="nav-text"><i class="fa fa-fw fa-question"></i></span>
						        </a>
					        </li>
					        <li class="nav-item">
						        <a class="nav-link text-muted" data-toggle="tooltip" data-placement="bottom" title="Delete">
						            <span class="nav-text"><i class="fa fa-fw fa-trash-o"></i></span>
						        </a>
					        </li>
					        <li class="nav-item pos-rlt b-l p-l">
					          	<a class="nav-link text-muted dropdown-toggle no-border" data-toggle="dropdown" title="Label">
					            	<span class="nav-text"><i class="fa fa-fw fa-tag"></i></span>
					          	</a>
						        <div class="dropdown-menu pull-right-xs text-color" role="menu">
						            <a class="dropdown-item">
						            	<i class="fa fa-dot-circle-o text-warn"></i>
						            	Bootstrap
						            </a>
						            <a class="dropdown-item">
						            	<i class="fa fa-dot-circle-o text-info"></i>
						             	Html5
						             </a>
						            <a class="dropdown-item">
						            	<i class="fa fa-dot-circle-o text-warning"></i>
						            	Client
						            </a>
						            <a class="dropdown-item">
						            	<i class="fa fa-dot-circle-o text-success"></i>
						            	Work
						            </a>
						            <div class="dropdown-divider"></div>
						            <a class="dropdown-item">
						            	<i class="fa fa-plus"></i>
						            	Create new label
						            </a>
						        </div>
					        </li>
					    </ul>
					    <!-- / link and dropdown -->
					</div>
				</div>
				<!-- / -->
				<!-- flex content -->
				<div class="row-row">
					<div class="row-body">
						<div class="row-inner">
							<!-- mail content -->
							<div class="padding">
								<h2 class="m-b _600">Bootstrap 4 CSS Framework</h2>
								<div class="p-y b-t">
								    <img class="img-circle w-32 m-r-sm" src="images/a0.jpg" alt=".">
								    from
								    <a href="#">james@gmail.com</a>
								    <span class="text-xs text-muted">on 12:20 7/23</span>
								</div>
								<div>
							        <p>Hey David,</p>
							        <p class="text-lt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.</p>
							        <blockquote>
							          <em>Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</em>
							        </blockquote>
							        <p>Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non malesuada est, quis congue nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
							        <p>Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend</p>
							        <p>&nbsp;</p>
							        <p>Best Regards</p>
							    </div>
							</div>
							<div class="padding b-t">
								<h6 class="m-b">Attached files:</h6>
								<div>
									<a href="#" class="block m-b-xs">
										<span class="label">PSD</span>
										DesignMockup.psd
										<small class="m-l text-muted">34kb</small>
									</a>
									<a href="#" class="block m-b-xs">
										<span class="label success">PDF</span>
										Design-Documentation.pdf
										<small class="m-l text-muted">432kb</small>
									</a>
									<a href="#" class="block m-b-xs">
										<span class="label">MP4</span>
										Design-video-show.mp4
										<small class="m-l text-muted">3mb</small>
									</a>
								</div>
							</div>
							<!-- / -->
						</div>
					</div>
				</div>
				<!-- / -->
		    </div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-new">
  <div class="modal-right col-xs-10 col-sm-9 col-md-8 col-lg-6 white dk b-l p-a-md">
    <form name="newMail" class="form-horizontal">
	    <div class="form-group row">
	        <label class="col-lg-2 form-control-label">To:</label>
	        <div class="col-lg-8">
		        <input type="text" class="form-control">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label class="col-lg-2 form-control-label">Subject:</label>
	        <div class="col-lg-8">
	          	<input type="text" class="form-control">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label class="col-lg-2 form-control-label">Content</label>
	        <div class="col-lg-10">
	          	<div class="b-a">
		            <div data-ui-jp="summernote" data-ui-options="{height: 150,
			            toolbar: [
			              ['style', ['bold', 'italic', 'underline', 'clear']],
			              ['color', ['color']],
			              ['para', ['ul', 'ol', 'paragraph']],
			              ['height', ['height']]
			            ]}">
				    </div>
	          	</div>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-lg-8 offset-lg-2">
	          	<button class="btn primary btn-sm p-x-md">Send</button>
	        </div>
	    </div>
    </form>
  </div>
</div>

<!-- ############ PAGE END-->

    </div>
  </div>
  <!-- / -->

{% endblock %}